hipmessageservice/static/hipmessageservice/services/schemas/services/OperationAppInfoAdd.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="POOR_IN200901UV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required" fixed="2.16.156.10011.2.5.1.1"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="creationTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:long">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="interactionId">
					<xs:annotation>
						<xs:documentation> 消息的服务标识</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required"/>
								<xs:attribute name="extension" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="processingCode">
					<xs:annotation>
						<xs:documentation>处理代码，标识此消息是否是产品、训练、调试系统的一部分。D：调试；P：产品；T：训练 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="processingModeCode" type="xs:string">
					<xs:annotation>
						<xs:documentation> 消息处理模式: A(Archive); I(Initial load); R(Restore from archive); T(Current 
		processing) </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="acceptAckCode">
					<xs:annotation>
						<xs:documentation> 消息应答: AL(Always); ER(Error/reject only); NE(Never) </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="receiver">
					<xs:annotation>
						<xs:documentation>
							<!-- 接受者 -->
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="device">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="7"/>
																				<xs:maxLength value="36"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string" use="required"/>
									<xs:attribute name="determinerCode" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="sender">
					<xs:annotation>
						<xs:documentation>
							<!-- 发送者 -->
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="device">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="7"/>
																				<xs:maxLength value="36"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string" use="required"/>
									<xs:attribute name="determinerCode" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="controlActProcess">
					<xs:annotation>
						<xs:documentation>封装的消息内容 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="subject">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="procedureRequest">
											<xs:annotation>
												<xs:documentation>消息类型 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:annotation>
															<xs:documentation>申请单号 必须项 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="item">
																	<xs:annotation>
																		<xs:documentation>申请单号 必须项 </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="extension" use="required">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="36"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="root" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="text">
														<xs:annotation>
															<xs:documentation>描述/说明 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="statusCode">
														<xs:annotation>
															<xs:documentation>状态代码 必须项未使用 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="active"/>
																				<xs:enumeration value="inactive"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="effectiveTime">
														<xs:annotation>
															<xs:documentation>申请日期 </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="methodCode">
														<xs:annotation>
															<xs:documentation> 麻醉方式 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="item" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation> 麻醉方式编码 手术性质编码</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="displayName">
																				<xs:annotation>
																					<xs:documentation> 麻醉方式名称  手术性质名称（择期，围期） </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="value" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="code" type="xs:string" use="required"/>
																		<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="author">
														<xs:annotation>
															<xs:documentation> 申请人信息(服务者) </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="assignedEntity">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:annotation>
																					<xs:documentation> 申请医师工号(assignedEntity - 2.16.840.1.113883.11.11595) </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="root" type="xs:string" use="required"/>
																										<xs:attribute name="extension" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="36"/>
																													<xs:minLength value="1"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="assignedPerson" nillable="true">
																				<xs:annotation>
																					<xs:documentation> 申请医师 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="name"/>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="required"/>
																					<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="representedOrganization">
																				<xs:annotation>
																					<xs:documentation> 申请科室 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="id">
																							<xs:annotation>
																								<xs:documentation> 申请科室编码 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="item">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="extension" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:maxLength value="36"/>
																																<xs:minLength value="1"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																													<xs:attribute name="root" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="name">
																							<xs:annotation>
																								<xs:documentation>申请科室 </xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="required"/>
																					<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="typeCode" type="xs:string" use="required"/>
															<xs:attribute name="contextControlCode" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="verifier">
														<xs:annotation>
															<xs:documentation> 审核人 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="time">
																	<xs:annotation>
																		<xs:documentation> 审核日期 </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="value" use="required">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:pattern value="(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="assignedEntity">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:annotation>
																					<xs:documentation> 审核医师工号 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="root" type="xs:string" use="required"/>
																										<xs:attribute name="extension" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="36"/>
																													<xs:minLength value="1"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="assignedPerson">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="name">
																							<xs:annotation>
																								<xs:documentation>审核人姓名 </xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="required"/>
																					<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="typeCode" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="component2">
														<xs:annotation>
															<xs:documentation> 一个手术申请单包含多个手术  多个手术可以循环,循环节点component </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="procedureRequest" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id" type="xs:string"/>
																			<xs:element name="code">
																				<xs:annotation>
																					<xs:documentation>手术名称编码 必须项 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:annotation>
																								<xs:documentation>手术名称 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:minLength value="1"/>
																													<xs:maxLength value="64"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="code" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="16"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="statusCode" type="xs:string"/>
																			<xs:element name="priorityCode">
																				<xs:annotation>
																					<xs:documentation> 手术等级编码(2.16.840.1.113883.5.7) </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="code" type="xs:string" use="required"/>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="performer">
																				<xs:annotation>
																					<xs:documentation>手术医生 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="time">
																							<xs:annotation>
																								<xs:documentation> 预订手术时间 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="low">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="value" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="assignedEntity">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:annotation>
																											<xs:documentation> 手术医师工号 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="item">
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="extension" type="xs:string" use="required"/>
																																<xs:attribute name="root" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="code">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="displayName">
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="value" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="assignedPerson">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="name"/>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="representedOrganization">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation> 执行科室编码 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="extension" use="required">
																																				<xs:simpleType>
																																					<xs:restriction base="xs:string">
																																						<xs:minLength value="1"/>
																																						<xs:maxLength value="36"/>
																																					</xs:restriction>
																																				</xs:simpleType>
																																			</xs:attribute>
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name">
																													<xs:annotation>
																														<xs:documentation> 执行科室 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																		<xs:attribute name="moodCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="subjectOf6">
														<xs:annotation>
															<xs:documentation> 注意事项 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="seperatableInd">
																	<xs:annotation>
																		<xs:documentation> 必须项 未使用 default=false </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="value" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="annotation">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="text">
																				<xs:annotation>
																					<xs:documentation>必须项 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="value" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="statusCode" type="xs:string">
																				<xs:annotation>
																					<xs:documentation>必须项未使用 </xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="author">
																				<xs:annotation>
																					<xs:documentation> 必须项未使用 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="assignedEntity">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="classCode" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="contextConductionInd" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="componentOf1">
														<xs:annotation>
															<xs:documentation> 就诊 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="encounter">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item" maxOccurs="unbounded">
																							<xs:annotation>
																								<xs:documentation> 就诊次数  就诊流水号 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="extension" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:minLength value="1"/>
																													<xs:maxLength value="36"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																										<xs:attribute name="root" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="code">
																				<xs:annotation>
																					<xs:documentation>就诊类别编码</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:annotation>
																								<xs:documentation> 就诊类别名称 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:enumeration value="门诊"/>
																													<xs:enumeration value="急诊"/>
																													<xs:enumeration value="住院"/>
																													<xs:enumeration value="其他"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																					<xs:attribute name="code" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:byte">
																								<xs:enumeration value="1"/>
																								<xs:enumeration value="2"/>
																								<xs:enumeration value="3"/>
																								<xs:enumeration value="9"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="statusCode">
																				<xs:annotation>
																					<xs:documentation> 必须项未使用 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="code" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="effectiveTime">
																				<xs:annotation>
																					<xs:documentation>就诊(住院)日期 </xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="subject">
																				<xs:annotation>
																					<xs:documentation>手术对象 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="patient">
																							<xs:annotation>
																								<xs:documentation>患者 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="item" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation> 域ID  患者ID  门诊号  住院号 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="root" type="xs:string" use="required"/>
																																<xs:attribute name="extension" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="patientPerson" nillable="true">
																										<xs:annotation>
																											<xs:documentation> 个人信息 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation> 身份证号/医保卡号 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item" maxOccurs="unbounded">
																																<xs:annotation>
																																	<xs:documentation> 身份证号  医保卡号 </xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name">
																													<xs:annotation>
																														<xs:documentation> 患者姓名 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="telecom">
																													<xs:annotation>
																														<xs:documentation> 电话 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="administrativeGenderCode">
																													<xs:annotation>
																														<xs:documentation> 性别代码 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="displayName">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="value" use="required">
																																				<xs:simpleType>
																																					<xs:restriction base="xs:string">
																																						<xs:enumeration value="未知的性别"/>
																																						<xs:enumeration value="男性"/>
																																						<xs:enumeration value="女性"/>
																																						<xs:enumeration value="未说明的性别"/>
																																					</xs:restriction>
																																				</xs:simpleType>
																																			</xs:attribute>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="code" use="required">
																															<xs:simpleType>
																																<xs:restriction base="xs:byte">
																																	<xs:enumeration value="0"/>
																																	<xs:enumeration value="1"/>
																																	<xs:enumeration value="2"/>
																																	<xs:enumeration value="9"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:attribute>
																														<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="birthTime">
																													<xs:annotation>
																														<xs:documentation> 出生日期-派生年龄 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="originalText">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="value" use="required">
																																				<xs:simpleType>
																																					<xs:restriction base="xs:positiveInteger">
																																						<xs:minInclusive value="1"/>
																																						<xs:maxInclusive value="200"/>
																																					</xs:restriction>
																																				</xs:simpleType>
																																			</xs:attribute>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="value" use="required">
																															<xs:simpleType>
																																<xs:restriction base="xs:int">
																																	<xs:pattern value="(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:attribute>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="addr">
																													<xs:annotation>
																														<xs:documentation> 地址 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="location">
																				<xs:annotation>
																					<xs:documentation>住院位置</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="time" type="xs:string"/>
																						<xs:element name="serviceDeliveryLocation">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="location">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation>DE01.00.026.00	病床编码 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="extension" use="required">
																																				<xs:simpleType>
																																					<xs:restriction base="xs:string">
																																						<xs:maxLength value="36"/>
																																					</xs:restriction>
																																				</xs:simpleType>
																																			</xs:attribute>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name">
																													<xs:annotation>
																														<xs:documentation> 病床号 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="asLocatedEntityPartOf">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="location">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="id">
																																			<xs:annotation>
																																				<xs:documentation>DE01.00.019.00	病房编码 </xs:documentation>
																																			</xs:annotation>
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="item">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="extension" use="required">
																																										<xs:simpleType>
																																											<xs:restriction base="xs:string">
																																												<xs:maxLength value="36"/>
																																											</xs:restriction>
																																										</xs:simpleType>
																																									</xs:attribute>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																		<xs:element name="name">
																																			<xs:annotation>
																																				<xs:documentation> 病房号 </xs:documentation>
																																			</xs:annotation>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string" use="required"/>
																																	<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="serviceProviderOrganization">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation>DE08.10.026.00	科室编码 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="extension" use="required">
																																				<xs:simpleType>
																																					<xs:restriction base="xs:string">
																																						<xs:maxLength value="36"/>
																																					</xs:restriction>
																																				</xs:simpleType>
																																			</xs:attribute>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name">
																													<xs:annotation>
																														<xs:documentation> 科室名称 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="asOrganizationPartOf">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="wholeOrganization">
																																<xs:annotation>
																																	<xs:documentation> DE08.10.054.00	病区编码 </xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="id">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="item">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="extension" use="required">
																																										<xs:simpleType>
																																											<xs:restriction base="xs:string">
																																												<xs:maxLength value="36"/>
																																											</xs:restriction>
																																										</xs:simpleType>
																																									</xs:attribute>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																		<xs:element name="name"/>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string" use="required"/>
																																	<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="pertinentInformation1" nillable="true">
																				<xs:annotation>
																					<xs:documentation>诊断(手术申请原因) </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="observationDx">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="code">
																										<xs:annotation>
																											<xs:documentation>诊断类别代码  必须项已使用 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="displayName">
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="value" use="required">
																																	<xs:simpleType>
																																		<xs:restriction base="xs:string">
																																			<xs:maxLength value="36"/>
																																			<xs:minLength value="1"/>
																																		</xs:restriction>
																																	</xs:simpleType>
																																</xs:attribute>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="code" use="required">
																												<xs:simpleType>
																													<xs:restriction base="xs:string">
																														<xs:maxLength value="36"/>
																														<xs:minLength value="1"/>
																													</xs:restriction>
																												</xs:simpleType>
																											</xs:attribute>
																											<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="statusCode">
																										<xs:annotation>
																											<xs:documentation> 必须项未使用 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="code" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="value">
																										<xs:annotation>
																											<xs:documentation> 疾病代码 必须项已使用 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="displayName">
																													<xs:annotation>
																														<xs:documentation> 疾病名称 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="value" use="required">
																																	<xs:simpleType>
																																		<xs:restriction base="xs:string">
																																			<xs:maxLength value="64"/>
																																			<xs:minLength value="1"/>
																																		</xs:restriction>
																																	</xs:simpleType>
																																</xs:attribute>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="code" use="required">
																												<xs:simpleType>
																													<xs:restriction base="xs:string">
																														<xs:minLength value="1"/>
																														<xs:maxLength value="16"/>
																													</xs:restriction>
																												</xs:simpleType>
																											</xs:attribute>
																											<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																								<xs:attribute name="moodCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																		<xs:attribute name="moodCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="contextConductionInd" type="xs:string" use="required"/>
															<xs:attribute name="typeCode" type="xs:string" use="required"/>
															<xs:attribute name="contextControlCode" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="required"/>
												<xs:attribute name="moodCode" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="typeCode" type="xs:string" use="required"/>
									<xs:attribute name="contextConductionInd" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="classCode" type="xs:string" use="required"/>
						<xs:attribute name="moodCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ITSVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IVL_TS">
		<xs:sequence>
			<xs:element name="low">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="value" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:long">
										<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="high" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="value">
								<xs:simpleType>
									<xs:restriction base="xs:long">
										<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LIST_EN">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BAG_EN">
		<xs:sequence>
			<xs:element name="item"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DSET_EN">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BAG_TEL">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="value" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BAG_AD">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="type" type="xs:string"/>
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="use" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
