hipmessageservice/static/hipmessageservice/services/schemas/services/OrderInfoUpdate.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="POOR_IN200902UV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required" fixed="2.16.156.10011.2.5.1.1"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="creationTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:long">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="interactionId">
					<xs:annotation>
						<xs:documentation> 消息的服务标识</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required"/>
								<xs:attribute name="extension" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="processingCode">
					<xs:annotation>
						<xs:documentation>处理代码，标识此消息是否是产品、训练、调试系统的一部分。D：调试；P：产品；T：训练 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="processingModeCode" type="xs:string">
					<xs:annotation>
						<xs:documentation> 消息处理模式: A(Archive); I(Initial load); R(Restore from archive); T(Current 
		processing) </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="acceptAckCode">
					<xs:annotation>
						<xs:documentation> 消息应答: AL(Always); ER(Error/reject only); NE(Never) </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="receiver">
					<xs:annotation>
						<xs:documentation>
							<!-- 接受者 -->
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="device">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="7"/>
																				<xs:maxLength value="36"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string" use="required"/>
									<xs:attribute name="determinerCode" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="sender">
					<xs:annotation>
						<xs:documentation>
							<!-- 发送者 -->
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="device">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="7"/>
																				<xs:maxLength value="36"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string" use="required"/>
									<xs:attribute name="determinerCode" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="controlActProcess">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="subject">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="placerGroup">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="author">
														<xs:annotation>
															<xs:documentation>医嘱开立者</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="time">
																	<xs:annotation>
																		<xs:documentation>医嘱开立日期时间</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="value" type="xs:long" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="signatureCode">
																	<xs:annotation>
																		<xs:documentation>签名编码（固定值S）</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="signatureText">
																	<xs:annotation>
																		<xs:documentation>医嘱开立者签名</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="value" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="assignedEntity">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:annotation>
																					<xs:documentation>医务人员工号</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="root" type="xs:string" use="required"/>
																										<xs:attribute name="extension" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="36"/>
																													<xs:minLength value="1"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="assignedPerson">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="name">
																							<xs:annotation>
																								<xs:documentation>医嘱开立者</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="required"/>
																					<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="representedOrganization">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="id">
																							<xs:annotation>
																								<xs:documentation>医疗卫生机构（科室）ID</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="item">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="root" type="xs:string" use="required"/>
																													<xs:attribute name="extension" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="name">
																							<xs:annotation>
																								<xs:documentation>医嘱开立科室</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="required"/>
																					<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="typeCode" type="xs:string" use="required"/>
															<xs:attribute name="contextControlCode" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="verifier">
														<xs:annotation>
															<xs:documentation>医嘱审核者</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="time">
																	<xs:annotation>
																		<xs:documentation>医嘱审核日期时间</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="value" type="xs:long" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="signatureCode">
																	<xs:annotation>
																		<xs:documentation>签名编码（固定值S）</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="signatureText">
																	<xs:annotation>
																		<xs:documentation>医嘱审核者签名</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="value" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="assignedEntity">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:annotation>
																					<xs:documentation>医务人员工号</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="root" type="xs:string" use="required"/>
																										<xs:attribute name="extension" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="36"/>
																													<xs:minLength value="1"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="assignedPerson">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="name">
																							<xs:annotation>
																								<xs:documentation>医嘱审核者</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="required"/>
																					<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="typeCode" type="xs:string" use="required"/>
															<xs:attribute name="contextControlCode" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="component2" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="sequenceNumber">
																	<xs:annotation>
																		<xs:documentation>医嘱序号</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="value" type="xs:positiveInteger" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="substanceAdministrationRequest">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:annotation>
																					<xs:documentation>医嘱ID</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="root" type="xs:string" use="required"/>
																							<xs:attribute name="extension" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="code">
																				<xs:annotation>
																					<xs:documentation>医嘱项目类型代码</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:enumeration value="药品类医嘱"/>
																													<xs:enumeration value="检查类医嘱"/>
																													<xs:enumeration value="检验类医嘱"/>
																													<xs:enumeration value="手术类医嘱"/>
																													<xs:enumeration value="处置类医嘱"/>
																													<xs:enumeration value="材料类医嘱"/>
																													<xs:enumeration value="嘱托医嘱"/>
																													<xs:enumeration value="输血类医嘱"/>
																													<xs:enumeration value="其他医嘱"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="code" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value="01"/>
																								<xs:enumeration value="02"/>
																								<xs:enumeration value="03"/>
																								<xs:enumeration value="04"/>
																								<xs:enumeration value="05"/>
																								<xs:enumeration value="06"/>
																								<xs:enumeration value="07"/>
																								<xs:enumeration value="08"/>
																								<xs:enumeration value="99"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="text">
																				<xs:annotation>
																					<xs:documentation>医嘱项目内容</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="value" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="statusCode">
																				<xs:annotation>
																					<xs:documentation>医嘱状态</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="code" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="effectiveTime">
																				<xs:annotation>
																					<xs:documentation>医嘱有效期间:医嘱开始日期时间/医嘱结束日期时间</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="routeCode">
																				<xs:annotation>
																					<xs:documentation>用药途径 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:enumeration value="口服"/>
																													<xs:enumeration value="直肠用药"/>
																													<xs:enumeration value="舌下用药"/>
																													<xs:enumeration value="注射用药"/>
																													<xs:enumeration value="皮下注射"/>
																													<xs:enumeration value="皮内注射"/>
																													<xs:enumeration value="肌肉注射"/>
																													<xs:enumeration value="静脉注射或静脉滴注"/>
																													<xs:enumeration value="吸入用药"/>
																													<xs:enumeration value="局部用药"/>
																													<xs:enumeration value="椎管内用药"/>
																													<xs:enumeration value="关节腔内用药"/>
																													<xs:enumeration value="胸膜腔用药"/>
																													<xs:enumeration value="腹腔用药"/>
																													<xs:enumeration value="阴道用药"/>
																													<xs:enumeration value="气管内用药"/>
																													<xs:enumeration value="滴眼"/>
																													<xs:enumeration value="滴鼻"/>
																													<xs:enumeration value="喷喉"/>
																													<xs:enumeration value="含化"/>
																													<xs:enumeration value="敷伤口"/>
																													<xs:enumeration value="擦皮肤"/>
																													<xs:enumeration value="其他局部用药途径"/>
																													<xs:enumeration value="其他用药途径"/>
																													<xs:enumeration value="-"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="code" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value="1"/>
																								<xs:enumeration value="2"/>
																								<xs:enumeration value="3"/>
																								<xs:enumeration value="4"/>
																								<xs:enumeration value="401"/>
																								<xs:enumeration value="402"/>
																								<xs:enumeration value="403"/>
																								<xs:enumeration value="404"/>
																								<xs:enumeration value="5"/>
																								<xs:enumeration value="6"/>
																								<xs:enumeration value="601"/>
																								<xs:enumeration value="602"/>
																								<xs:enumeration value="603"/>
																								<xs:enumeration value="604"/>
																								<xs:enumeration value="605"/>
																								<xs:enumeration value="606"/>
																								<xs:enumeration value="607"/>
																								<xs:enumeration value="608"/>
																								<xs:enumeration value="609"/>
																								<xs:enumeration value="610"/>
																								<xs:enumeration value="611"/>
																								<xs:enumeration value="612"/>
																								<xs:enumeration value="699"/>
																								<xs:enumeration value="9"/>
																								<xs:enumeration value="-"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																					<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="doseQuantity">
																				<xs:annotation>
																					<xs:documentation>用药剂量-单次 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="value" type="xs:float" use="required"/>
																							<xs:attribute name="unit" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="doseCheckQuantity">
																				<xs:annotation>
																					<xs:documentation>药物使用总剂量 </xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="administrationUnitCode">
																				<xs:annotation>
																					<xs:documentation>药物剂型 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:enumeration value="原料"/>
																													<xs:enumeration value="片剂(素片、压制片),浸膏片,非包衣片"/>
																													<xs:enumeration value="糖衣片,包衣片,薄膜衣片"/>
																													<xs:enumeration value="咀嚼片,糖片,异型片,糖胶片"/>
																													<xs:enumeration value="肠溶片(肠衣片)"/>
																													<xs:enumeration value="调释片,缓释片,控释片,长效片,多层片,"/>
																													<xs:enumeration value="泡腾片"/>
																													<xs:enumeration value="舌下片"/>
																													<xs:enumeration value="含片,漱口片(含漱片),喉症片(喉片),口腔粘附片"/>
																													<xs:enumeration value="外用片,外用膜,坐药片,环型片"/>
																													<xs:enumeration value="阴道片,外用阴道膜,阴道用药,阴道栓片"/>
																													<xs:enumeration value="水溶片,眼药水片"/>
																													<xs:enumeration value="分散片(适应片)"/>
																													<xs:enumeration value="纸片(纸型片),膜片(薄膜片)"/>
																													<xs:enumeration value="丸剂,药丸,眼丸,耳丸,糖丸,糖衣丸,浓缩丸,调释丸,水丸"/>
																													<xs:enumeration value="粉针剂(冻干粉针剂),冻干粉"/>
																													<xs:enumeration value="注射液(水针剂),油针剂,混悬针剂"/>
																													<xs:enumeration value="注射溶媒(在与16有冲突时,可代油针剂、混悬针剂)"/>
																													<xs:enumeration value="输液剂,血浆代用品"/>
																													<xs:enumeration value="胶囊剂,硬胶囊"/>
																													<xs:enumeration value="软胶囊,滴丸,胶丸"/>
																													<xs:enumeration value="肠溶胶囊,肠溶胶丸"/>
																													<xs:enumeration value="调释胶囊,控释胶囊,缓释胶囊"/>
																													<xs:enumeration value="溶液剂,含漱剂,内服混悬剂"/>
																													<xs:enumeration value="合剂"/>
																													<xs:enumeration value="乳剂,乳胶"/>
																													<xs:enumeration value="凝胶剂,胶剂(胶体),胶冻,胶体微粒"/>
																													<xs:enumeration value="胶浆剂"/>
																													<xs:enumeration value="芳香水剂(露剂)"/>
																													<xs:enumeration value="滴剂"/>
																													<xs:enumeration value="糖浆剂(蜜浆剂)"/>
																													<xs:enumeration value="口服剂"/>
																													<xs:enumeration value="浸膏剂"/>
																													<xs:enumeration value="流浸膏剂"/>
																													<xs:enumeration value="酊剂"/>
																													<xs:enumeration value="醑剂"/>
																													<xs:enumeration value="酏剂"/>
																													<xs:enumeration value="洗剂,阴道冲洗剂"/>
																													<xs:enumeration value="搽剂(涂剂,擦剂),外用混悬液剂"/>
																													<xs:enumeration value="油剂,甘油剂"/>
																													<xs:enumeration value="棉胶剂(火棉胶剂)"/>
																													<xs:enumeration value="涂膜剂"/>
																													<xs:enumeration value="涂布剂"/>
																													<xs:enumeration value="滴眼剂,洗眼剂,粉剂眼药"/>
																													<xs:enumeration value="滴鼻剂,洗鼻剂"/>
																													<xs:enumeration value="滴耳剂,洗耳剂"/>
																													<xs:enumeration value="口腔药剂,口腔用药,牙科用药"/>
																													<xs:enumeration value="灌肠剂"/>
																													<xs:enumeration value="软膏剂(油膏剂,水膏剂)"/>
																													<xs:enumeration value="霜剂(乳膏剂)"/>
																													<xs:enumeration value="糊剂"/>
																													<xs:enumeration value="硬膏剂,橡皮膏"/>
																													<xs:enumeration value="眼膏剂"/>
																													<xs:enumeration value="散剂(内服散剂,外用散剂,粉剂,撒布粉)"/>
																													<xs:enumeration value="颗粒剂(冲剂),晶剂(结晶,晶体),干糖浆"/>
																													<xs:enumeration value="泡腾颗粒剂"/>
																													<xs:enumeration value="调释颗粒剂,缓释颗粒剂"/>
																													<xs:enumeration value="气雾剂,水雾剂,(加抛射剂)"/>
																													<xs:enumeration value="喷雾剂,(不加抛射剂)"/>
																													<xs:enumeration value="混悬雾剂,(水、气、粉三相)"/>
																													<xs:enumeration value="吸入药剂(鼻吸式),粉雾剂"/>
																													<xs:enumeration value="膜剂(口腔膜)"/>
																													<xs:enumeration value="海绵剂"/>
																													<xs:enumeration value="栓剂,痔疮栓,耳栓"/>
																													<xs:enumeration value="植入栓"/>
																													<xs:enumeration value="透皮剂,贴剂(贴膏,贴膜),贴片"/>
																													<xs:enumeration value="控释透皮剂,控释贴片,控释口颊片"/>
																													<xs:enumeration value="划痕剂"/>
																													<xs:enumeration value="珠链(泥珠链)"/>
																													<xs:enumeration value="淀剂,糖淀"/>
																													<xs:enumeration value="微囊胶囊(微丸胶囊)"/>
																													<xs:enumeration value="干混悬剂(干悬乳剂、口服乳干粉)"/>
																													<xs:enumeration value="吸入剂(气体)"/>
																													<xs:enumeration value="试剂盒(诊断用试剂),药盒"/>
																													<xs:enumeration value="其他剂型(空心胶囊,绷带,纱布,胶布)"/>
																													<xs:enumeration value="-"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="code" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value="00"/>
																								<xs:enumeration value="01"/>
																								<xs:enumeration value="02"/>
																								<xs:enumeration value="03"/>
																								<xs:enumeration value="04"/>
																								<xs:enumeration value="05"/>
																								<xs:enumeration value="06"/>
																								<xs:enumeration value="07"/>
																								<xs:enumeration value="08"/>
																								<xs:enumeration value="09"/>
																								<xs:enumeration value="10"/>
																								<xs:enumeration value="11"/>
																								<xs:enumeration value="12"/>
																								<xs:enumeration value="13"/>
																								<xs:enumeration value="14"/>
																								<xs:enumeration value="15"/>
																								<xs:enumeration value="16"/>
																								<xs:enumeration value="17"/>
																								<xs:enumeration value="18"/>
																								<xs:enumeration value="19"/>
																								<xs:enumeration value="20"/>
																								<xs:enumeration value="21"/>
																								<xs:enumeration value="22"/>
																								<xs:enumeration value="23"/>
																								<xs:enumeration value="24"/>
																								<xs:enumeration value="25"/>
																								<xs:enumeration value="26"/>
																								<xs:enumeration value="27"/>
																								<xs:enumeration value="28"/>
																								<xs:enumeration value="29"/>
																								<xs:enumeration value="30"/>
																								<xs:enumeration value="31"/>
																								<xs:enumeration value="32"/>
																								<xs:enumeration value="33"/>
																								<xs:enumeration value="34"/>
																								<xs:enumeration value="35"/>
																								<xs:enumeration value="36"/>
																								<xs:enumeration value="37"/>
																								<xs:enumeration value="38"/>
																								<xs:enumeration value="39"/>
																								<xs:enumeration value="40"/>
																								<xs:enumeration value="41"/>
																								<xs:enumeration value="42"/>
																								<xs:enumeration value="43"/>
																								<xs:enumeration value="44"/>
																								<xs:enumeration value="45"/>
																								<xs:enumeration value="46"/>
																								<xs:enumeration value="47"/>
																								<xs:enumeration value="48"/>
																								<xs:enumeration value="49"/>
																								<xs:enumeration value="50"/>
																								<xs:enumeration value="51"/>
																								<xs:enumeration value="52"/>
																								<xs:enumeration value="53"/>
																								<xs:enumeration value="54"/>
																								<xs:enumeration value="55"/>
																								<xs:enumeration value="56"/>
																								<xs:enumeration value="57"/>
																								<xs:enumeration value="58"/>
																								<xs:enumeration value="59"/>
																								<xs:enumeration value="60"/>
																								<xs:enumeration value="61"/>
																								<xs:enumeration value="62"/>
																								<xs:enumeration value="63"/>
																								<xs:enumeration value="64"/>
																								<xs:enumeration value="65"/>
																								<xs:enumeration value="66"/>
																								<xs:enumeration value="67"/>
																								<xs:enumeration value="68"/>
																								<xs:enumeration value="69"/>
																								<xs:enumeration value="70"/>
																								<xs:enumeration value="71"/>
																								<xs:enumeration value="72"/>
																								<xs:enumeration value="90"/>
																								<xs:enumeration value="99"/>
																								<xs:enumeration value="-"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																					<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="consumable2">
																				<xs:annotation>
																					<xs:documentation> 药物信息 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="manufacturedProduct1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:annotation>
																											<xs:documentation> 包装序号 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="extension" type="xs:positiveInteger" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="manufacturedProduct">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="code">
																													<xs:annotation>
																														<xs:documentation> 药物编码 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="code" type="xs:string" use="required"/>
																																<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name"/>
																												<xs:element name="asContent">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="quantity" type="xs:string"/>
																															<xs:element name="containerPackagedProduct">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="code" type="xs:string"/>
																																		<xs:element name="formCode" type="xs:string"/>
																																		<xs:element name="capacityQuantity">
																																			<xs:annotation>
																																				<xs:documentation>药物规格 </xs:documentation>
																																			</xs:annotation>
																																			<xs:complexType>
																																				<xs:simpleContent>
																																					<xs:extension base="xs:string">
																																						<xs:attribute name="unit" type="xs:string" use="required"/>
																																						<xs:attribute name="value" type="xs:float" use="required"/>
																																					</xs:extension>
																																				</xs:simpleContent>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string" use="required"/>
																																	<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="subjectOf3">
																										<xs:annotation>
																											<xs:documentation> 药物所属医保信息 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="policy">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="code">
																																<xs:annotation>
																																	<xs:documentation> 药物医保类别编码/药物医保类别名称 </xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="displayName">
																																			<xs:complexType>
																																				<xs:simpleContent>
																																					<xs:extension base="xs:string">
																																						<xs:attribute name="value" type="xs:string" use="required"/>
																																					</xs:extension>
																																				</xs:simpleContent>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute name="code" type="xs:byte" use="required"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string" use="required"/>
																														<xs:attribute name="moodCode" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="typeCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="location">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="serviceDeliveryLocation">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="location">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation> 执行科室编码 </xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name">
																													<xs:annotation>
																														<xs:documentation> 执行科室名称 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="occurrenceOf">
																				<xs:annotation>
																					<xs:documentation> 父医嘱ID(没有父医嘱可以没有此occurrenceOf节点) </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="parentRequestReference">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="extension" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="pertinentInformation">
																				<xs:annotation>
																					<xs:documentation>医嘱类别（1 长期医嘱\2 临时医嘱\ 9 其他）</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="observation">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="code">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="code" type="xs:string" use="required"/>
																													<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																													<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="value">
																										<xs:annotation>
																											<xs:documentation>医嘱类别编码/医嘱类别名称</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																								<xs:attribute name="moodCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																					<xs:attribute name="contextConductionInd" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="component2">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="supplyRequest">
																							<xs:annotation>
																								<xs:documentation> 领量(给药量)/领量单位(实际发药量由药房发药确定) </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id" type="xs:string"/>
																									<xs:element name="code" type="xs:string"/>
																									<xs:element name="statusCode">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="code" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="quantity">
																										<xs:annotation>
																											<xs:documentation> 领药量</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="value" type="xs:float" use="required"/>
																													<xs:attribute name="unit" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="expectedUseTime">
																										<xs:annotation>
																											<xs:documentation> 开始时间/停止时间(可以都没有值) </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="validTimeLow" type="xs:long" use="required"/>
																													<xs:attribute name="validTimeHigh" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																								<xs:attribute name="moodCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="subjectOf6">
																				<xs:annotation>
																					<xs:documentation>医嘱备注信息</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="seperatableInd">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="annotation">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="text">
																										<xs:annotation>
																											<xs:documentation>医嘱备注信息</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="value" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="statusCode">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="code" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="author">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="assignedEntity">
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="classCode" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																					<xs:attribute name="contextConductionInd" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																		<xs:attribute name="moodCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="componentOf1">
														<xs:annotation>
															<xs:documentation>就医信息</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="encounter">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item" maxOccurs="unbounded">
																							<xs:annotation>
																								<xs:documentation> 就诊次数  就诊流水号 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="extension" type="xs:string" use="required"/>
																										<xs:attribute name="root" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="code">
																				<xs:annotation>
																					<xs:documentation>就诊类别编码</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:annotation>
																								<xs:documentation> 就诊类别名称 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:enumeration value="门诊"/>
																													<xs:enumeration value="急诊"/>
																													<xs:enumeration value="住院"/>
																													<xs:enumeration value="其他"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																					<xs:attribute name="code" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:byte">
																								<xs:enumeration value="1"/>
																								<xs:enumeration value="2"/>
																								<xs:enumeration value="3"/>
																								<xs:enumeration value="9"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="statusCode">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="code" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="subject">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="patient">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="item" maxOccurs="unbounded">
																													<xs:annotation>
																														<xs:documentation> 域ID 患者ID标识门（急）诊号标识 住院号标识</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="root" type="xs:string" use="required"/>
																																<xs:attribute name="extension" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="telecom">
																										<xs:annotation>
																											<xs:documentation>患者就医联系电话</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="statusCode">
																										<xs:annotation>
																											<xs:documentation>患者角色状态</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="code" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="patientPerson">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation>患者身份证号</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name"/>
																												<xs:element name="administrativeGenderCode">
																													<xs:annotation>
																														<xs:documentation>性别</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="displayName">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="value" use="required">
																																				<xs:simpleType>
																																					<xs:restriction base="xs:string">
																																						<xs:enumeration value="未知的性别"/>
																																						<xs:enumeration value="男性"/>
																																						<xs:enumeration value="女性"/>
																																						<xs:enumeration value="未说明的性别"/>
																																					</xs:restriction>
																																				</xs:simpleType>
																																			</xs:attribute>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="code" use="required">
																															<xs:simpleType>
																																<xs:restriction base="xs:byte">
																																	<xs:enumeration value="0"/>
																																	<xs:enumeration value="1"/>
																																	<xs:enumeration value="2"/>
																																	<xs:enumeration value="9"/>
																																</xs:restriction>
																															</xs:simpleType>
																														</xs:attribute>
																														<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																														<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="birthTime">
																													<xs:annotation>
																														<xs:documentation>出生日期</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="value" type="xs:int" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="asOtherIDs">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="id">
																																<xs:annotation>
																																	<xs:documentation>健康档案编号</xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="item" maxOccurs="unbounded">
																																			<xs:annotation>
																																				<xs:documentation>健康卡号</xs:documentation>
																																			</xs:annotation>
																																			<xs:complexType>
																																				<xs:simpleContent>
																																					<xs:extension base="xs:string">
																																						<xs:attribute name="root" type="xs:string" use="required"/>
																																						<xs:attribute name="extension" use="required">
																																							<xs:simpleType>
																																								<xs:restriction base="xs:string">
																																									<xs:maxLength value="36"/>
																																								</xs:restriction>
																																							</xs:simpleType>
																																						</xs:attribute>
																																					</xs:extension>
																																				</xs:simpleContent>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="scopingOrganization" nillable="true">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="classCode" type="xs:string" use="required"/>
																																			<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="location">
																				<xs:annotation>
																					<xs:documentation>住院位置</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="time" type="xs:string"/>
																						<xs:element name="serviceDeliveryLocation">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="location">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation>DE01.00.026.00	病床号</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name"/>
																												<xs:element name="asLocatedEntityPartOf">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="location">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="id">
																																			<xs:annotation>
																																				<xs:documentation>DE01.00.019.00	病房号</xs:documentation>
																																			</xs:annotation>
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="item">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="root" type="xs:string" use="required"/>
																																									<xs:attribute name="extension" type="xs:string" use="required"/>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																		<xs:element name="name"/>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string" use="required"/>
																																	<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="serviceProviderOrganization">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation>DE08.10.026.00	科室名称</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name"/>
																												<xs:element name="asOrganizationPartOf">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="wholeOrganization">
																																<xs:annotation>
																																	<xs:documentation> DE08.10.054.00	病区名称 </xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="id">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="item">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="root" type="xs:string" use="required"/>
																																									<xs:attribute name="extension" use="required">
																																										<xs:simpleType>
																																											<xs:restriction base="xs:string">
																																												<xs:minLength value="1"/>
																																												<xs:maxLength value="36"/>
																																											</xs:restriction>
																																										</xs:simpleType>
																																									</xs:attribute>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																		<xs:element name="name"/>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string" use="required"/>
																																	<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="typeCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="required"/>
																		<xs:attribute name="moodCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="contextConductionInd" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="required"/>
												<xs:attribute name="moodCode" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="typeCode" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="classCode" type="xs:string" use="required"/>
						<xs:attribute name="moodCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ITSVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BAG_EN">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part">
							<xs:complexType>
								<xs:attribute name="value" use="optional">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="512"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QSC_TS">
		<xs:sequence>
			<xs:element name="code">
				<xs:annotation>
					<xs:documentation> 医嘱执行频率编码/医嘱执行频率名称 </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="displayName">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="value" type="xs:string"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="code" type="xs:string"/>
					<xs:attribute name="codeSystem" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="validTimeLow">
			<xs:simpleType>
				<xs:restriction base="xs:long">
					<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="validTimeHigh">
			<xs:simpleType>
				<xs:restriction base="xs:long">
					<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DSET_RTO">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="numerator"/>
						<xs:element name="denominator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PQ">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="unit" type="xs:string" use="required"/>
				<xs:attribute name="value" type="xs:float" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CD">
		<xs:sequence>
			<xs:element name="displayName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="value" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="code" type="xs:byte"/>
		<xs:attribute name="codeSystem" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BAG_TEL">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="value" type="xs:long"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
