hipmessageservice/static/hipmessageservice/services/schemas/services/ProviderInfoRegister.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PRPM_IN301010UV01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required" fixed="2.16.156.10011.2.5.1.1"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="creationTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:long">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="interactionId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required"/>
								<xs:attribute name="extension" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="processingCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="processingModeCode" type="xs:string"/>
				<xs:element name="acceptAckCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="receiver">
					<xs:annotation>
						<xs:documentation>
							<!-- 接受者 -->
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="telecom" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="device">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="7"/>
																				<xs:maxLength value="36"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
									<xs:attribute name="determinerCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="sender">
					<xs:annotation>
						<xs:documentation>
							<!-- 发送者 -->
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="telecom" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="device">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="7"/>
																				<xs:maxLength value="36"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
									<xs:attribute name="determinerCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="controlActProcess">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="subject">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="registrationRequest">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="statusCode">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" type="xs:string"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="subject1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="healthCareProvider">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:annotation>
																					<xs:documentation>医务人员ID</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="root" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:minLength value="2"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																										<xs:attribute name="extension" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="code">
																				<xs:annotation>
																					<xs:documentation>专业技术职务代码</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="displayName">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:enumeration value="高等学校教师"/>
																													<xs:enumeration value="教授"/>
																													<xs:enumeration value="副教授"/>
																													<xs:enumeration value="讲师(高校)"/>
																													<xs:enumeration value="助教(高校)"/>
																													<xs:enumeration value="中等专业学校教师"/>
																													<xs:enumeration value="高级讲师(中专)"/>
																													<xs:enumeration value="讲师(中专)"/>
																													<xs:enumeration value="助理讲师(中专)"/>
																													<xs:enumeration value="教员(中专)"/>
																													<xs:enumeration value="技工学校教师"/>
																													<xs:enumeration value="高级讲师(技校)"/>
																													<xs:enumeration value="讲师(技校)"/>
																													<xs:enumeration value="助理讲师(技校)"/>
																													<xs:enumeration value="教员(技校)"/>
																													<xs:enumeration value="技工学校教师(技工学校教师)"/>
																													<xs:enumeration value="高级实习指导教师"/>
																													<xs:enumeration value="一级实习指导教师"/>
																													<xs:enumeration value="二级实习指导教师"/>
																													<xs:enumeration value="三级实习指导教师"/>
																													<xs:enumeration value="中学教师"/>
																													<xs:enumeration value="高级教师(中学)"/>
																													<xs:enumeration value="一级教师(中学)"/>
																													<xs:enumeration value="二级教师(中学)"/>
																													<xs:enumeration value="三级教师(中学)"/>
																													<xs:enumeration value="实验技术人员"/>
																													<xs:enumeration value="高级实验师"/>
																													<xs:enumeration value="实验师"/>
																													<xs:enumeration value="助理实验师"/>
																													<xs:enumeration value="实验员"/>
																													<xs:enumeration value="工程技术人员"/>
																													<xs:enumeration value="高级工程师"/>
																													<xs:enumeration value="工程师"/>
																													<xs:enumeration value="助理工程师"/>
																													<xs:enumeration value="技术员"/>
																													<xs:enumeration value="农业技术人员(农艺)"/>
																													<xs:enumeration value="农业技术推广研究员(农艺)"/>
																													<xs:enumeration value="高级农艺师"/>
																													<xs:enumeration value="农艺师"/>
																													<xs:enumeration value="助理农艺师"/>
																													<xs:enumeration value="农业技术员"/>
																													<xs:enumeration value="农业技术人员(兽医)"/>
																													<xs:enumeration value="农业技术推广研究员(兽医)"/>
																													<xs:enumeration value="高级兽医师"/>
																													<xs:enumeration value="兽医师"/>
																													<xs:enumeration value="助理兽医师"/>
																													<xs:enumeration value="兽医技术员"/>
																													<xs:enumeration value="农业技术人员(畜牧)"/>
																													<xs:enumeration value="农业技术推广研究员(畜牧)"/>
																													<xs:enumeration value="高级畜牧师"/>
																													<xs:enumeration value="畜牧师"/>
																													<xs:enumeration value="助理畜牧师"/>
																													<xs:enumeration value="畜牧技术员"/>
																													<xs:enumeration value="经济专业人员"/>
																													<xs:enumeration value="高级经济师"/>
																													<xs:enumeration value="经济师"/>
																													<xs:enumeration value="助理经济师"/>
																													<xs:enumeration value="经济员"/>
																													<xs:enumeration value="会计专业人员"/>
																													<xs:enumeration value="高级会计师"/>
																													<xs:enumeration value="会计师"/>
																													<xs:enumeration value="助理会计师"/>
																													<xs:enumeration value="会计员"/>
																													<xs:enumeration value="统计专业人员"/>
																													<xs:enumeration value="高级统计师"/>
																													<xs:enumeration value="统计师"/>
																													<xs:enumeration value="助理统计师"/>
																													<xs:enumeration value="统计员"/>
																													<xs:enumeration value="出版专业人员(编审)"/>
																													<xs:enumeration value="编审"/>
																													<xs:enumeration value="副编审"/>
																													<xs:enumeration value="编辑"/>
																													<xs:enumeration value="助理编辑"/>
																													<xs:enumeration value="出版专业人员(技术编辑)"/>
																													<xs:enumeration value="技术编辑"/>
																													<xs:enumeration value="助理技术编辑"/>
																													<xs:enumeration value="技术设计员"/>
																													<xs:enumeration value="出版专业人员(校对)"/>
																													<xs:enumeration value="一级校对"/>
																													<xs:enumeration value="二级校对"/>
																													<xs:enumeration value="三级校对"/>
																													<xs:enumeration value="翻译人员"/>
																													<xs:enumeration value="译审"/>
																													<xs:enumeration value="副译审"/>
																													<xs:enumeration value="翻译"/>
																													<xs:enumeration value="助理翻译"/>
																													<xs:enumeration value="新闻专业人员(记者)"/>
																													<xs:enumeration value="高级记者"/>
																													<xs:enumeration value="主任记者"/>
																													<xs:enumeration value="记者"/>
																													<xs:enumeration value="助理记者"/>
																													<xs:enumeration value="新闻专业人员(编辑)"/>
																													<xs:enumeration value="高级编辑"/>
																													<xs:enumeration value="主任编辑"/>
																													<xs:enumeration value="编辑"/>
																													<xs:enumeration value="助理编辑"/>
																													<xs:enumeration value="播音员"/>
																													<xs:enumeration value="播音指导"/>
																													<xs:enumeration value="主任播音员"/>
																													<xs:enumeration value="一级播音员"/>
																													<xs:enumeration value="二级播音员"/>
																													<xs:enumeration value="三级播音员"/>
																													<xs:enumeration value="卫生技术人员(医师)"/>
																													<xs:enumeration value="主任医师"/>
																													<xs:enumeration value="副主任医师"/>
																													<xs:enumeration value="主治医师"/>
																													<xs:enumeration value="医师"/>
																													<xs:enumeration value="医士"/>
																													<xs:enumeration value="卫生技术人员(药剂)"/>
																													<xs:enumeration value="主任药师"/>
																													<xs:enumeration value="副主任药师"/>
																													<xs:enumeration value="主管药师"/>
																													<xs:enumeration value="药师"/>
																													<xs:enumeration value="药士"/>
																													<xs:enumeration value="卫生技术人员(护理)"/>
																													<xs:enumeration value="主任护师"/>
																													<xs:enumeration value="副主任护师"/>
																													<xs:enumeration value="主管护师"/>
																													<xs:enumeration value="护师"/>
																													<xs:enumeration value="护士"/>
																													<xs:enumeration value="卫生技术人员(技师)"/>
																													<xs:enumeration value="主任技师"/>
																													<xs:enumeration value="副主任技师"/>
																													<xs:enumeration value="主管技师"/>
																													<xs:enumeration value="技师"/>
																													<xs:enumeration value="技士"/>
																													<xs:enumeration value="工艺美术人员"/>
																													<xs:enumeration value="高级工艺美术师"/>
																													<xs:enumeration value="工艺美术师"/>
																													<xs:enumeration value="助理工艺美术师"/>
																													<xs:enumeration value="工艺美术员"/>
																													<xs:enumeration value="艺术人员(演员)"/>
																													<xs:enumeration value="一级演员"/>
																													<xs:enumeration value="二级演员"/>
																													<xs:enumeration value="三级演员"/>
																													<xs:enumeration value="四级演员"/>
																													<xs:enumeration value="艺术人员(演奏员)"/>
																													<xs:enumeration value="一级演奏员"/>
																													<xs:enumeration value="二级演奏员"/>
																													<xs:enumeration value="三级演奏员"/>
																													<xs:enumeration value="四级演奏员"/>
																													<xs:enumeration value="艺术人员(编剧)"/>
																													<xs:enumeration value="一级编剧"/>
																													<xs:enumeration value="二级编剧"/>
																													<xs:enumeration value="三级编剧"/>
																													<xs:enumeration value="四级编剧"/>
																													<xs:enumeration value="艺术人员(导演)"/>
																													<xs:enumeration value="一级导演"/>
																													<xs:enumeration value="二级导演"/>
																													<xs:enumeration value="三级导演"/>
																													<xs:enumeration value="四级导演"/>
																													<xs:enumeration value="艺术人员(指挥)"/>
																													<xs:enumeration value="一级指挥"/>
																													<xs:enumeration value="二级指挥"/>
																													<xs:enumeration value="三级指挥"/>
																													<xs:enumeration value="四级指挥"/>
																													<xs:enumeration value="艺术人员(作曲)"/>
																													<xs:enumeration value="一级作曲"/>
																													<xs:enumeration value="二级作曲"/>
																													<xs:enumeration value="三级作曲"/>
																													<xs:enumeration value="四级作曲"/>
																													<xs:enumeration value="艺术人员(美术)"/>
																													<xs:enumeration value="公证员"/>
																													<xs:enumeration value="一级美术师"/>
																													<xs:enumeration value="一级公证员"/>
																													<xs:enumeration value="二级美术师"/>
																													<xs:enumeration value="二级公证员"/>
																													<xs:enumeration value="三级美术师"/>
																													<xs:enumeration value="三级公证员"/>
																													<xs:enumeration value="美术员"/>
																													<xs:enumeration value="四级公证员"/>
																													<xs:enumeration value="公证助理员"/>
																													<xs:enumeration value="艺术人员(舞美设计)"/>
																													<xs:enumeration value="一级舞美设计师"/>
																													<xs:enumeration value="二级舞美设计师"/>
																													<xs:enumeration value="三级舞美设计师"/>
																													<xs:enumeration value="舞美设计员"/>
																													<xs:enumeration value="艺术人员(舞台技术)"/>
																													<xs:enumeration value="主任舞台技师"/>
																													<xs:enumeration value="舞台技师"/>
																													<xs:enumeration value="舞台技术员"/>
																													<xs:enumeration value="体育锻炼"/>
																													<xs:enumeration value="国家级教练"/>
																													<xs:enumeration value="高级教练"/>
																													<xs:enumeration value="一级教练"/>
																													<xs:enumeration value="二级教练"/>
																													<xs:enumeration value="三级教练"/>
																													<xs:enumeration value="律师"/>
																													<xs:enumeration value="一级律师"/>
																													<xs:enumeration value="二级律师"/>
																													<xs:enumeration value="三级律师"/>
																													<xs:enumeration value="四级律师"/>
																													<xs:enumeration value="律师助理"/>
																													<xs:enumeration value="小学教师"/>
																													<xs:enumeration value="高级教师(小学)"/>
																													<xs:enumeration value="一级教师(小学)"/>
																													<xs:enumeration value="二级教师(小学)"/>
																													<xs:enumeration value="三级教师(小学)"/>
																													<xs:enumeration value="船舶技术人员(驾驶)"/>
																													<xs:enumeration value="高级船长"/>
																													<xs:enumeration value="船长(大副)"/>
																													<xs:enumeration value="二副"/>
																													<xs:enumeration value="三副"/>
																													<xs:enumeration value="船舶技术人员(轮机)"/>
																													<xs:enumeration value="高级轮机长"/>
																													<xs:enumeration value="轮机长(大管轮)"/>
																													<xs:enumeration value="二管轮"/>
																													<xs:enumeration value="三管轮"/>
																													<xs:enumeration value="船舶技术人员(电机)"/>
																													<xs:enumeration value="高级电机员"/>
																													<xs:enumeration value="通用电机员(一等电机员)"/>
																													<xs:enumeration value="二等电机员"/>
																													<xs:enumeration value="船舶技术人员(报务)"/>
																													<xs:enumeration value="高级报务员"/>
																													<xs:enumeration value="通用报务员"/>
																													<xs:enumeration value="二等报务员"/>
																													<xs:enumeration value="限用报务员"/>
																													<xs:enumeration value="飞行技术人员(驾驶)"/>
																													<xs:enumeration value="一级飞行员"/>
																													<xs:enumeration value="二级飞行员"/>
																													<xs:enumeration value="三级飞行员"/>
																													<xs:enumeration value="四级飞行员"/>
																													<xs:enumeration value="飞行技术人员(领航)"/>
																													<xs:enumeration value="一级领航员"/>
																													<xs:enumeration value="二级领航员"/>
																													<xs:enumeration value="三级领航员"/>
																													<xs:enumeration value="四级领航员"/>
																													<xs:enumeration value="飞行技术人员(通信)"/>
																													<xs:enumeration value="一级飞行通信员"/>
																													<xs:enumeration value="二级飞行通信员"/>
																													<xs:enumeration value="三级飞行通信员"/>
																													<xs:enumeration value="四级飞行通信员"/>
																													<xs:enumeration value="飞行技术人员(机械)"/>
																													<xs:enumeration value="一级飞行机械员"/>
																													<xs:enumeration value="二级飞行机械员"/>
																													<xs:enumeration value="三级飞行机械员"/>
																													<xs:enumeration value="四级飞行机械员"/>
																													<xs:enumeration value="船舶技术人员(引航)"/>
																													<xs:enumeration value="高级引航员"/>
																													<xs:enumeration value="一、二级引航员"/>
																													<xs:enumeration value="三、四级引航员"/>
																													<xs:enumeration value="自然科学研究人员"/>
																													<xs:enumeration value="研究员(自然科学)"/>
																													<xs:enumeration value="研究员(自然科学)"/>
																													<xs:enumeration value="助理研究员(自然科学)"/>
																													<xs:enumeration value="研究实习员(自然科学)"/>
																													<xs:enumeration value="社会科学研究人员"/>
																													<xs:enumeration value="研究员(社会科学)"/>
																													<xs:enumeration value="副研究员(社会科学)"/>
																													<xs:enumeration value="助理研究员(社会科学)"/>
																													<xs:enumeration value="研究实习员(社会科学)"/>
																													<xs:enumeration value="图书、资料专业人员"/>
																													<xs:enumeration value="研究馆员(图书)"/>
																													<xs:enumeration value="副研究馆员(图书)"/>
																													<xs:enumeration value="馆员(图书)"/>
																													<xs:enumeration value="助理馆员(图书)"/>
																													<xs:enumeration value="管理员(图书)"/>
																													<xs:enumeration value="文博专业人员"/>
																													<xs:enumeration value="研究馆员(文博)"/>
																													<xs:enumeration value="副研究馆员(文博)"/>
																													<xs:enumeration value="馆员(文博)"/>
																													<xs:enumeration value="助理馆员(文博)"/>
																													<xs:enumeration value="管理员(文博)"/>
																													<xs:enumeration value="档案专业人员"/>
																													<xs:enumeration value="研究馆员(档案)"/>
																													<xs:enumeration value="副研究馆员(档案)"/>
																													<xs:enumeration value="馆员(档案)"/>
																													<xs:enumeration value="助理馆员(档案)"/>
																													<xs:enumeration value="管理员(档案)"/>
																													<xs:enumeration value="群众文化专业人员"/>
																													<xs:enumeration value="研究馆员(群众文化)"/>
																													<xs:enumeration value="副研究馆员(群众文化)"/>
																													<xs:enumeration value="馆员(群众文化)"/>
																													<xs:enumeration value="助理馆员(群众文化)"/>
																													<xs:enumeration value="管理员(群众文化)"/>
																													<xs:enumeration value="审计专业人员"/>
																													<xs:enumeration value="高级审计师"/>
																													<xs:enumeration value="审计师"/>
																													<xs:enumeration value="助理审计师"/>
																													<xs:enumeration value="审计员"/>
																													<xs:enumeration value="法医专业人员"/>
																													<xs:enumeration value="主任法医师"/>
																													<xs:enumeration value="副主任法医师"/>
																													<xs:enumeration value="主检法医师"/>
																													<xs:enumeration value="法医师"/>
																													<xs:enumeration value="法医士"/>
																													<xs:enumeration value="思想政治工作人员"/>
																													<xs:enumeration value="高级政工师"/>
																													<xs:enumeration value="政工师"/>
																													<xs:enumeration value="助理政工师"/>
																													<xs:enumeration value="政工员"/>
																													<xs:enumeration value="不便分类的其他人员"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="code" use="required">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value="010"/>
																								<xs:enumeration value="011"/>
																								<xs:enumeration value="012"/>
																								<xs:enumeration value="013"/>
																								<xs:enumeration value="014"/>
																								<xs:enumeration value="020"/>
																								<xs:enumeration value="022"/>
																								<xs:enumeration value="023"/>
																								<xs:enumeration value="024"/>
																								<xs:enumeration value="025"/>
																								<xs:enumeration value="030"/>
																								<xs:enumeration value="032"/>
																								<xs:enumeration value="033"/>
																								<xs:enumeration value="034"/>
																								<xs:enumeration value="035"/>
																								<xs:enumeration value="040"/>
																								<xs:enumeration value="042"/>
																								<xs:enumeration value="043"/>
																								<xs:enumeration value="044"/>
																								<xs:enumeration value="045"/>
																								<xs:enumeration value="050"/>
																								<xs:enumeration value="052"/>
																								<xs:enumeration value="053"/>
																								<xs:enumeration value="054"/>
																								<xs:enumeration value="055"/>
																								<xs:enumeration value="070"/>
																								<xs:enumeration value="072"/>
																								<xs:enumeration value="073"/>
																								<xs:enumeration value="074"/>
																								<xs:enumeration value="075"/>
																								<xs:enumeration value="080"/>
																								<xs:enumeration value="082"/>
																								<xs:enumeration value="083"/>
																								<xs:enumeration value="084"/>
																								<xs:enumeration value="085"/>
																								<xs:enumeration value="090"/>
																								<xs:enumeration value="091"/>
																								<xs:enumeration value="092"/>
																								<xs:enumeration value="093"/>
																								<xs:enumeration value="094"/>
																								<xs:enumeration value="095"/>
																								<xs:enumeration value="100"/>
																								<xs:enumeration value="101"/>
																								<xs:enumeration value="102"/>
																								<xs:enumeration value="103"/>
																								<xs:enumeration value="104"/>
																								<xs:enumeration value="105"/>
																								<xs:enumeration value="110"/>
																								<xs:enumeration value="111"/>
																								<xs:enumeration value="112"/>
																								<xs:enumeration value="113"/>
																								<xs:enumeration value="114"/>
																								<xs:enumeration value="115"/>
																								<xs:enumeration value="120"/>
																								<xs:enumeration value="122"/>
																								<xs:enumeration value="123"/>
																								<xs:enumeration value="124"/>
																								<xs:enumeration value="125"/>
																								<xs:enumeration value="130"/>
																								<xs:enumeration value="132"/>
																								<xs:enumeration value="133"/>
																								<xs:enumeration value="134"/>
																								<xs:enumeration value="135"/>
																								<xs:enumeration value="140"/>
																								<xs:enumeration value="142"/>
																								<xs:enumeration value="143"/>
																								<xs:enumeration value="144"/>
																								<xs:enumeration value="145"/>
																								<xs:enumeration value="150"/>
																								<xs:enumeration value="151"/>
																								<xs:enumeration value="152"/>
																								<xs:enumeration value="153"/>
																								<xs:enumeration value="154"/>
																								<xs:enumeration value="160"/>
																								<xs:enumeration value="163"/>
																								<xs:enumeration value="164"/>
																								<xs:enumeration value="165"/>
																								<xs:enumeration value="170"/>
																								<xs:enumeration value="173"/>
																								<xs:enumeration value="174"/>
																								<xs:enumeration value="175"/>
																								<xs:enumeration value="180"/>
																								<xs:enumeration value="181"/>
																								<xs:enumeration value="182"/>
																								<xs:enumeration value="183"/>
																								<xs:enumeration value="184"/>
																								<xs:enumeration value="190"/>
																								<xs:enumeration value="191"/>
																								<xs:enumeration value="192"/>
																								<xs:enumeration value="193"/>
																								<xs:enumeration value="194"/>
																								<xs:enumeration value="200"/>
																								<xs:enumeration value="201"/>
																								<xs:enumeration value="202"/>
																								<xs:enumeration value="203"/>
																								<xs:enumeration value="204"/>
																								<xs:enumeration value="220"/>
																								<xs:enumeration value="221"/>
																								<xs:enumeration value="222"/>
																								<xs:enumeration value="223"/>
																								<xs:enumeration value="224"/>
																								<xs:enumeration value="225"/>
																								<xs:enumeration value="230"/>
																								<xs:enumeration value="231"/>
																								<xs:enumeration value="232"/>
																								<xs:enumeration value="233"/>
																								<xs:enumeration value="234"/>
																								<xs:enumeration value="235"/>
																								<xs:enumeration value="240"/>
																								<xs:enumeration value="241"/>
																								<xs:enumeration value="242"/>
																								<xs:enumeration value="243"/>
																								<xs:enumeration value="244"/>
																								<xs:enumeration value="245"/>
																								<xs:enumeration value="250"/>
																								<xs:enumeration value="251"/>
																								<xs:enumeration value="252"/>
																								<xs:enumeration value="253"/>
																								<xs:enumeration value="254"/>
																								<xs:enumeration value="255"/>
																								<xs:enumeration value="260"/>
																								<xs:enumeration value="261"/>
																								<xs:enumeration value="262"/>
																								<xs:enumeration value="263"/>
																								<xs:enumeration value="264"/>
																								<xs:enumeration value="265"/>
																								<xs:enumeration value="270"/>
																								<xs:enumeration value="272"/>
																								<xs:enumeration value="273"/>
																								<xs:enumeration value="274"/>
																								<xs:enumeration value="275"/>
																								<xs:enumeration value="280"/>
																								<xs:enumeration value="281"/>
																								<xs:enumeration value="282"/>
																								<xs:enumeration value="283"/>
																								<xs:enumeration value="284"/>
																								<xs:enumeration value="290"/>
																								<xs:enumeration value="291"/>
																								<xs:enumeration value="292"/>
																								<xs:enumeration value="293"/>
																								<xs:enumeration value="294"/>
																								<xs:enumeration value="300"/>
																								<xs:enumeration value="301"/>
																								<xs:enumeration value="302"/>
																								<xs:enumeration value="303"/>
																								<xs:enumeration value="304"/>
																								<xs:enumeration value="310"/>
																								<xs:enumeration value="311"/>
																								<xs:enumeration value="312"/>
																								<xs:enumeration value="313"/>
																								<xs:enumeration value="314"/>
																								<xs:enumeration value="320"/>
																								<xs:enumeration value="321"/>
																								<xs:enumeration value="322"/>
																								<xs:enumeration value="323"/>
																								<xs:enumeration value="324"/>
																								<xs:enumeration value="330"/>
																								<xs:enumeration value="331"/>
																								<xs:enumeration value="332"/>
																								<xs:enumeration value="333"/>
																								<xs:enumeration value="334"/>
																								<xs:enumeration value="340"/>
																								<xs:enumeration value="340"/>
																								<xs:enumeration value="341"/>
																								<xs:enumeration value="341"/>
																								<xs:enumeration value="342"/>
																								<xs:enumeration value="342"/>
																								<xs:enumeration value="343"/>
																								<xs:enumeration value="343"/>
																								<xs:enumeration value="344"/>
																								<xs:enumeration value="344"/>
																								<xs:enumeration value="345"/>
																								<xs:enumeration value="350"/>
																								<xs:enumeration value="351"/>
																								<xs:enumeration value="352"/>
																								<xs:enumeration value="353"/>
																								<xs:enumeration value="354"/>
																								<xs:enumeration value="360"/>
																								<xs:enumeration value="362"/>
																								<xs:enumeration value="363"/>
																								<xs:enumeration value="364"/>
																								<xs:enumeration value="370"/>
																								<xs:enumeration value="371"/>
																								<xs:enumeration value="372"/>
																								<xs:enumeration value="373"/>
																								<xs:enumeration value="374"/>
																								<xs:enumeration value="375"/>
																								<xs:enumeration value="390"/>
																								<xs:enumeration value="391"/>
																								<xs:enumeration value="392"/>
																								<xs:enumeration value="393"/>
																								<xs:enumeration value="394"/>
																								<xs:enumeration value="395"/>
																								<xs:enumeration value="410"/>
																								<xs:enumeration value="413"/>
																								<xs:enumeration value="414"/>
																								<xs:enumeration value="415"/>
																								<xs:enumeration value="416"/>
																								<xs:enumeration value="420"/>
																								<xs:enumeration value="422"/>
																								<xs:enumeration value="423"/>
																								<xs:enumeration value="424"/>
																								<xs:enumeration value="425"/>
																								<xs:enumeration value="430"/>
																								<xs:enumeration value="432"/>
																								<xs:enumeration value="433"/>
																								<xs:enumeration value="434"/>
																								<xs:enumeration value="435"/>
																								<xs:enumeration value="440"/>
																								<xs:enumeration value="442"/>
																								<xs:enumeration value="443"/>
																								<xs:enumeration value="444"/>
																								<xs:enumeration value="450"/>
																								<xs:enumeration value="452"/>
																								<xs:enumeration value="453"/>
																								<xs:enumeration value="454"/>
																								<xs:enumeration value="455"/>
																								<xs:enumeration value="460"/>
																								<xs:enumeration value="462"/>
																								<xs:enumeration value="463"/>
																								<xs:enumeration value="464"/>
																								<xs:enumeration value="465"/>
																								<xs:enumeration value="470"/>
																								<xs:enumeration value="472"/>
																								<xs:enumeration value="473"/>
																								<xs:enumeration value="474"/>
																								<xs:enumeration value="475"/>
																								<xs:enumeration value="480"/>
																								<xs:enumeration value="482"/>
																								<xs:enumeration value="483"/>
																								<xs:enumeration value="484"/>
																								<xs:enumeration value="485"/>
																								<xs:enumeration value="490"/>
																								<xs:enumeration value="492"/>
																								<xs:enumeration value="493"/>
																								<xs:enumeration value="494"/>
																								<xs:enumeration value="495"/>
																								<xs:enumeration value="500"/>
																								<xs:enumeration value="502"/>
																								<xs:enumeration value="503"/>
																								<xs:enumeration value="504"/>
																								<xs:enumeration value="610"/>
																								<xs:enumeration value="611"/>
																								<xs:enumeration value="612"/>
																								<xs:enumeration value="613"/>
																								<xs:enumeration value="614"/>
																								<xs:enumeration value="620"/>
																								<xs:enumeration value="621"/>
																								<xs:enumeration value="622"/>
																								<xs:enumeration value="623"/>
																								<xs:enumeration value="624"/>
																								<xs:enumeration value="640"/>
																								<xs:enumeration value="641"/>
																								<xs:enumeration value="642"/>
																								<xs:enumeration value="643"/>
																								<xs:enumeration value="644"/>
																								<xs:enumeration value="645"/>
																								<xs:enumeration value="650"/>
																								<xs:enumeration value="651"/>
																								<xs:enumeration value="652"/>
																								<xs:enumeration value="653"/>
																								<xs:enumeration value="654"/>
																								<xs:enumeration value="655"/>
																								<xs:enumeration value="660"/>
																								<xs:enumeration value="661"/>
																								<xs:enumeration value="662"/>
																								<xs:enumeration value="663"/>
																								<xs:enumeration value="664"/>
																								<xs:enumeration value="665"/>
																								<xs:enumeration value="670"/>
																								<xs:enumeration value="671"/>
																								<xs:enumeration value="672"/>
																								<xs:enumeration value="673"/>
																								<xs:enumeration value="674"/>
																								<xs:enumeration value="675"/>
																								<xs:enumeration value="680"/>
																								<xs:enumeration value="682"/>
																								<xs:enumeration value="683"/>
																								<xs:enumeration value="684"/>
																								<xs:enumeration value="685"/>
																								<xs:enumeration value="690"/>
																								<xs:enumeration value="691"/>
																								<xs:enumeration value="692"/>
																								<xs:enumeration value="693"/>
																								<xs:enumeration value="694"/>
																								<xs:enumeration value="695"/>
																								<xs:enumeration value="980"/>
																								<xs:enumeration value="982"/>
																								<xs:enumeration value="983"/>
																								<xs:enumeration value="984"/>
																								<xs:enumeration value="985"/>
																								<xs:enumeration value="000"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																					<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="addr">
																				<xs:annotation>
																					<xs:documentation>工作地址</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="telecom">
																				<xs:annotation>
																					<xs:documentation>工作联系方式：电话、邮箱地址等</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="statusCode">
																				<xs:annotation>
																					<xs:documentation>角色状态RoleStatus</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="code" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="effectiveTime">
																				<xs:annotation>
																					<xs:documentation>角色有效期间</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="low">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="high">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="healthCarePrincipalPerson">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="id">
																							<xs:annotation>
																								<xs:documentation>身份证号</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="item">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="root" type="xs:string" use="required"/>
																													<xs:attribute name="extension" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:minLength value="2"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="idCategory">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="displayName">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="value" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:enumeration value="居民身份证"/>
																																<xs:enumeration value="居民户口簿"/>
																																<xs:enumeration value="护照"/>
																																<xs:enumeration value="军官证"/>
																																<xs:enumeration value="驾驶证"/>
																																<xs:enumeration value="港澳居民来往内地通行证"/>
																																<xs:enumeration value="台湾居民来往内地通行证"/>
																																<xs:enumeration value="其他法定有效证件"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="code" use="required">
																									<xs:simpleType>
																										<xs:restriction base="xs:string">
																											<xs:enumeration value="01"/>
																											<xs:enumeration value="02"/>
																											<xs:enumeration value="03"/>
																											<xs:enumeration value="04"/>
																											<xs:enumeration value="05"/>
																											<xs:enumeration value="06"/>
																											<xs:enumeration value="07"/>
																											<xs:enumeration value="99"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																								<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																								<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="name">
																							<xs:annotation>
																								<xs:documentation>姓名</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="administrativeGenderCode">
																							<xs:annotation>
																								<xs:documentation>性别</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="displayName">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="value" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:enumeration value="未知的性别"/>
																																<xs:enumeration value="男性"/>
																																<xs:enumeration value="女性"/>
																																<xs:enumeration value="未说明的性别"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="code" use="required">
																									<xs:simpleType>
																										<xs:restriction base="xs:byte">
																											<xs:enumeration value="0"/>
																											<xs:enumeration value="1"/>
																											<xs:enumeration value="2"/>
																											<xs:enumeration value="9"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																								<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																								<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="birthTime">
																							<xs:annotation>
																								<xs:documentation>出生日期</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:int">
																													<xs:pattern value="((\d{3}[1-9]|\d{2}[1-9]\d|\d[1-9]\d{2}|[1-9]\d{3})(((0[13578]|1[02])(0[1-9]|[12]\d|3[01]))|((0[469]|11)(0[1-9]|[12]\d|30))|(02(0[1-9]|[1]\d|2[0-8]))))|(((\d{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229)"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="asAffiliate">
																							<xs:annotation>
																								<xs:documentation>隶属</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="code" type="xs:string"/>
																									<xs:element name="effectiveTime" type="xs:string"/>
																									<xs:element name="affiliatedPrincipalOrganization">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="id">
																													<xs:annotation>
																														<xs:documentation>科室号标识</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="item">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" use="required">
																																				<xs:simpleType>
																																					<xs:restriction base="xs:string">
																																						<xs:minLength value="2"/>
																																					</xs:restriction>
																																				</xs:simpleType>
																																			</xs:attribute>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="name"/>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="required"/>
																											<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="birthplace">
																							<xs:annotation>
																								<xs:documentation>出生地</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="addr" type="xs:string"/>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string"/>
																					<xs:attribute name="determinerCode" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="typeCode" type="xs:string"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="author">
														<xs:annotation>
															<xs:documentation>申请者</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="assignedEntity">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:annotation>
																					<xs:documentation>医务人员ID</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="item">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="root" type="xs:string" use="required"/>
																										<xs:attribute name="extension" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:minLength value="1"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="assignedPerson">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="name"/>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="required"/>
																					<xs:attribute name="determinerCode" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="representedOrganization">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="id">
																							<xs:annotation>
																								<xs:documentation>科室号标识</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="item">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="root" type="xs:string" use="required"/>
																													<xs:attribute name="extension" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:minLength value="1"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="name"/>
																						<xs:element name="contactParty">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="contactPerson">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="name"/>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string"/>
																											<xs:attribute name="determinerCode" type="xs:string"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string"/>
																					<xs:attribute name="determinerCode" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="typeCode" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="required"/>
												<xs:attribute name="moodCode" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="typeCode" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="classCode" type="xs:string"/>
						<xs:attribute name="moodCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ITSVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DSET_AD">
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="DSET_TEL">
		<xs:sequence>
			<xs:element name="item" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="value" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LIST_EN">
		<xs:sequence>
			<xs:element name="item">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part">
							<xs:complexType>
								<xs:attribute name="value" use="optional">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="64"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
