hipmessageservice/static/hipmessageservice/services/schemas/cdas/C0025.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClinicalDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="realmCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="typeId">
					<xs:annotation>
						<xs:documentation> 文档信息模型类别-标识符 HL7注册模型的编码系统OID </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="templateId">
					<xs:annotation>
						<xs:documentation> 文档模板的根OID  </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="id">
					<xs:annotation>
						<xs:documentation> 文档流水号 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="code">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="C0025"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="出院评估与指导"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="effectiveTime">
					<xs:annotation>
						<xs:documentation> 文档机器生成时间 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="confidentialityCode">
					<xs:annotation>
						<xs:documentation> 文档密级 　表C.3  ClinicalDocument.confidentialityCode值域表 (CWE) </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
								<xs:attribute name="displayName" type="xs:string"/>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="languageCode">
					<xs:annotation>
						<xs:documentation> 文档语言 表达文档采用的语言 代码值取HL7内部编码系统codeSystem = "2.16.840.1.113883.6.121". 人类语言编码系统 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="setId" type="xs:string">
					<xs:annotation>
						<xs:documentation>文档集-标识符 该属性用于维护一份连续更新的文档，创建一个统一的文档集合标识符 </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="recordTarget">
					<xs:annotation>
						<xs:documentation>文档记录对象（患者）</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="patientRole">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>门（急）诊号标识 住院号标识检验报告单号标识电子申请单编号 检验标本编号标识 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="optional"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="patient">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:annotation>
															<xs:documentation>患者身份证号标识</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string"/>
																	<xs:attribute name="extension" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="administrativeGenderCode">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code">
																		<xs:simpleType>
																			<xs:restriction base="xs:short">
																				<xs:enumeration value="0"/>
																				<xs:enumeration value="1"/>
																				<xs:enumeration value="2"/>
																				<xs:enumeration value="9"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="未知的性别"/>
																				<xs:enumeration value="男性"/>
																				<xs:enumeration value="女性"/>
																				<xs:enumeration value="未说明的性别"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string"/>
																	<xs:attribute name="codeSystemName" type="xs:string"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="age">
														<xs:annotation>
															<xs:documentation> 年龄 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="unit" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="岁"/>
																				<xs:enumeration value="周"/>
																				<xs:enumeration value="天"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="value" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:short">
																				<xs:minInclusive value="0"/>
																				<xs:maxInclusive value="150"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="providerOrganization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="asOrganizationPartOf">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="wholeOrganization">
																	<xs:annotation>
																		<xs:documentation> DE01.00.026.00	病床号 </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="root" type="xs:string" use="required"/>
																							<xs:attribute name="extension" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:minLength value="1"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="name">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="asOrganizationPartOf">
																				<xs:annotation>
																					<xs:documentation> DE01.00.019.00	病房号 </xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="wholeOrganization">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="root" type="xs:string" use="required"/>
																													<xs:attribute name="extension" type="xs:string" use="required"/>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="name">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:minLength value="1"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="asOrganizationPartOf">
																										<xs:annotation>
																											<xs:documentation> DE08.10.026.00	科室名称 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="wholeOrganization">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="id">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="name" type="xs:string"/>
																															<xs:element name="asOrganizationPartOf">
																																<xs:annotation>
																																	<xs:documentation> DE08.10.054.00	病区名称 </xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="wholeOrganization">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="id">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="root" type="xs:string" use="required"/>
																																									<xs:attribute name="extension" type="xs:string" use="required"/>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																					<xs:element name="name" type="xs:string"/>
																																					<xs:element name="asOrganizationPartOf">
																																						<xs:annotation>
																																							<xs:documentation>XXX医院 </xs:documentation>
																																						</xs:annotation>
																																						<xs:complexType>
																																							<xs:sequence>
																																								<xs:element name="wholeOrganization">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element name="id">
																																												<xs:complexType>
																																													<xs:simpleContent>
																																														<xs:extension base="xs:string">
																																															<xs:attribute name="root" type="xs:string" use="required"/>
																																															<xs:attribute name="extension" use="required">
																																																<xs:simpleType>
																																																	<xs:restriction base="xs:string">
																																																		<xs:length value="18"/>
																																																	</xs:restriction>
																																																</xs:simpleType>
																																															</xs:attribute>
																																														</xs:extension>
																																													</xs:simpleContent>
																																												</xs:complexType>
																																											</xs:element>
																																											<xs:element name="name" type="xs:string"/>
																																										</xs:sequence>
																																										<xs:attribute name="classCode" type="xs:string"/>
																																										<xs:attribute name="determinerCode" type="xs:string"/>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:attribute name="classCode" type="xs:string"/>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																				<xs:attribute name="classCode" type="xs:string"/>
																																				<xs:attribute name="determinerCode" type="xs:string"/>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string"/>
																														<xs:attribute name="determinerCode" type="xs:string"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string"/>
																								<xs:attribute name="determinerCode" type="xs:string"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string"/>
																		<xs:attribute name="determinerCode" type="xs:string"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="classCode" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="author">
					<xs:annotation>
						<xs:documentation>文档创作者 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> 文档日期 </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="assignedAuthor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string"/>
														<xs:attribute name="extension" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:annotation>
												<xs:documentation> 医师姓名 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="custodian">
					<xs:annotation>
						<xs:documentation> 保管机构 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedCustodian">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="representedCustodianOrganization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value="18"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="authenticator" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>文档审核者 该部分信息表达文档经过了一定的审核，但还没达到一定的法律效应 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> 签名日期时间 </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="value" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="signatureCode" type="xs:string"/>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="optional"/>
														<xs:attribute name="extension" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="optional"/>
												<xs:attribute name="determinerCode" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string" use="required" fixed="ASSIGNED"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string" use="required" fixed="AUTHEN"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="relatedDocument">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parentDocument">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string"/>
										<xs:element name="setId" type="xs:string"/>
										<xs:element name="versionNumber" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="component">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="structuredBody">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="component" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>出院诊断章节健康指导章节 健康评估章节 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" type="xs:string" use="optional"/>
																				<xs:attribute name="displayName" type="xs:string" use="required"/>
																				<xs:attribute name="codeSystem" type="xs:string" use="optional"/>
																				<xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="text" type="xs:string"/>
																<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="observation">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="code">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="code" type="xs:string" use="required"/>
																										<xs:attribute name="displayName" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value">
																							<xs:annotation>
																								<xs:documentation>HDSD00.09.008 DE05.01.024.00  出院诊断编码 HDSD00.09.007  DE06.00.017.00  出院日期时间 HDSD00.09.006  DE06.00.193.00  出院情况 HDSD00.09.037  DE06.00.223.00  离院方式代码 HDSD00.09.077  DE03.00.080.00  饮食情况代码 HDSD00.09.055  DE06.00.238.00  生活方式指导 HDSD00.09.072  DE06.00.124.00  宣教内容 HDSD00.09.012  DE06.00.299.00  复诊指导 HDSD00.09.080  DE06.00.136.00  用药指导 HDSD00.09.086  DE05.10.122.00  自理能力代码 HDSD00.09.077  DE03.00.080.00  饮食情况代码 </xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="optional"/>
																					<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CD">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:string" use="required"/>
				<xs:attribute name="codeSystem" type="xs:string" use="required"/>
				<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
				<xs:attribute name="displayName" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TS">
		<xs:attribute name="value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
					<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ST">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
