hipmessageservice/static/hipmessageservice/services/schemas/cdas/C0028.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClinicalDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="realmCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="typeId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="templateId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="id">
					<xs:annotation>
						<xs:documentation> 文档流水号 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="code">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="C0028"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="输血治疗同意书"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="effectiveTime">
					<xs:annotation>
						<xs:documentation> 文档机器生成时间 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="confidentialityCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
								<xs:attribute name="displayName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="languageCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="setId" type="xs:string"/>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="recordTarget">
					<xs:annotation>
						<xs:documentation>文档记录对象（患者）</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="patientRole">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>门（急）诊号标识 住院号标识检验报告单号标识电子申请单编号 检验标本编号标识 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="optional"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="patient">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:annotation>
															<xs:documentation>患者身份证号标识</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string"/>
																	<xs:attribute name="extension" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="administrativeGenderCode">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code">
																		<xs:simpleType>
																			<xs:restriction base="xs:short">
																				<xs:enumeration value="0"/>
																				<xs:enumeration value="1"/>
																				<xs:enumeration value="2"/>
																				<xs:enumeration value="9"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="未知的性别"/>
																				<xs:enumeration value="男性"/>
																				<xs:enumeration value="女性"/>
																				<xs:enumeration value="未说明的性别"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string"/>
																	<xs:attribute name="codeSystemName" type="xs:string"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="birthTime">
														<xs:annotation>
															<xs:documentation>出生日期</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value" type="xs:int"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="age">
														<xs:annotation>
															<xs:documentation> 年龄 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="unit" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="岁"/>
																				<xs:enumeration value="周"/>
																				<xs:enumeration value="天"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="value" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:short">
																				<xs:minInclusive value="0"/>
																				<xs:maxInclusive value="150"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="author">
					<xs:annotation>
						<xs:documentation>文档创作者 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> 文档日期 </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="assignedAuthor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string"/>
														<xs:attribute name="extension" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:annotation>
												<xs:documentation> 医师姓名 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="custodian">
					<xs:annotation>
						<xs:documentation> 保管机构 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedCustodian">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="representedCustodianOrganization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value="18"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="legalAuthenticator">
					<xs:annotation>
						<xs:documentation>麻醉医师签名 DE02.01.039.00 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> DE09.00.053.00 麻醉医师签名日期时间  </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="value">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="signatureCode">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="code" type="xs:string" use="required" fixed="s"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="authenticator" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> 患者签名 代理人签名</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> DE09.00.053.00 签名日期时间   DE09.00.053.00 签名日期时间  </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="value" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="signatureCode" type="xs:string"/>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="code" minOccurs="0">
											<xs:annotation>
												<xs:documentation>代理人关系</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="code" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="0"/>
																	<xs:enumeration value="01"/>
																	<xs:enumeration value="02"/>
																	<xs:enumeration value="1"/>
																	<xs:enumeration value="10"/>
																	<xs:enumeration value="11"/>
																	<xs:enumeration value="12"/>
																	<xs:enumeration value="2"/>
																	<xs:enumeration value="20"/>
																	<xs:enumeration value="21"/>
																	<xs:enumeration value="22"/>
																	<xs:enumeration value="23"/>
																	<xs:enumeration value="24"/>
																	<xs:enumeration value="25"/>
																	<xs:enumeration value="26"/>
																	<xs:enumeration value="27"/>
																	<xs:enumeration value="28"/>
																	<xs:enumeration value="29"/>
																	<xs:enumeration value="3"/>
																	<xs:enumeration value="30"/>
																	<xs:enumeration value="31"/>
																	<xs:enumeration value="32"/>
																	<xs:enumeration value="33"/>
																	<xs:enumeration value="34"/>
																	<xs:enumeration value="35"/>
																	<xs:enumeration value="36"/>
																	<xs:enumeration value="37"/>
																	<xs:enumeration value="38"/>
																	<xs:enumeration value="39"/>
																	<xs:enumeration value="4"/>
																	<xs:enumeration value="40"/>
																	<xs:enumeration value="41"/>
																	<xs:enumeration value="42"/>
																	<xs:enumeration value="43"/>
																	<xs:enumeration value="44"/>
																	<xs:enumeration value="45"/>
																	<xs:enumeration value="46"/>
																	<xs:enumeration value="47"/>
																	<xs:enumeration value="48"/>
																	<xs:enumeration value="49"/>
																	<xs:enumeration value="5"/>
																	<xs:enumeration value="50"/>
																	<xs:enumeration value="51"/>
																	<xs:enumeration value="52"/>
																	<xs:enumeration value="53"/>
																	<xs:enumeration value="54"/>
																	<xs:enumeration value="55"/>
																	<xs:enumeration value="56"/>
																	<xs:enumeration value="57"/>
																	<xs:enumeration value="58"/>
																	<xs:enumeration value="59"/>
																	<xs:enumeration value="6"/>
																	<xs:enumeration value="60"/>
																	<xs:enumeration value="61"/>
																	<xs:enumeration value="62"/>
																	<xs:enumeration value="63"/>
																	<xs:enumeration value="64"/>
																	<xs:enumeration value="65"/>
																	<xs:enumeration value="66"/>
																	<xs:enumeration value="67"/>
																	<xs:enumeration value="68"/>
																	<xs:enumeration value="69"/>
																	<xs:enumeration value="7"/>
																	<xs:enumeration value="70"/>
																	<xs:enumeration value="71"/>
																	<xs:enumeration value="72"/>
																	<xs:enumeration value="73"/>
																	<xs:enumeration value="74"/>
																	<xs:enumeration value="75"/>
																	<xs:enumeration value="76"/>
																	<xs:enumeration value="77"/>
																	<xs:enumeration value="78"/>
																	<xs:enumeration value="79"/>
																	<xs:enumeration value="8"/>
																	<xs:enumeration value="80"/>
																	<xs:enumeration value="81"/>
																	<xs:enumeration value="82"/>
																	<xs:enumeration value="83"/>
																	<xs:enumeration value="84"/>
																	<xs:enumeration value="85"/>
																	<xs:enumeration value="86"/>
																	<xs:enumeration value="87"/>
																	<xs:enumeration value="88"/>
																	<xs:enumeration value="89"/>
																	<xs:enumeration value="90"/>
																	<xs:enumeration value="91"/>
																	<xs:enumeration value="92"/>
																	<xs:enumeration value="93"/>
																	<xs:enumeration value="94"/>
																	<xs:enumeration value="95"/>
																	<xs:enumeration value="96"/>
																	<xs:enumeration value="97"/>
																	<xs:enumeration value="99"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="displayName" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="本人或户主"/>
																	<xs:enumeration value="本人"/>
																	<xs:enumeration value="户主"/>
																	<xs:enumeration value="配偶"/>
																	<xs:enumeration value="配偶"/>
																	<xs:enumeration value="夫"/>
																	<xs:enumeration value="妻"/>
																	<xs:enumeration value="子"/>
																	<xs:enumeration value="子"/>
																	<xs:enumeration value="独生子"/>
																	<xs:enumeration value="长子"/>
																	<xs:enumeration value="次子"/>
																	<xs:enumeration value="三子"/>
																	<xs:enumeration value="四子"/>
																	<xs:enumeration value="五子"/>
																	<xs:enumeration value="养子或继子"/>
																	<xs:enumeration value="女婿"/>
																	<xs:enumeration value="其他儿子"/>
																	<xs:enumeration value="女"/>
																	<xs:enumeration value="女"/>
																	<xs:enumeration value="独生女"/>
																	<xs:enumeration value="长女"/>
																	<xs:enumeration value="次女"/>
																	<xs:enumeration value="三女"/>
																	<xs:enumeration value="四女"/>
																	<xs:enumeration value="五女"/>
																	<xs:enumeration value="养女或继女"/>
																	<xs:enumeration value="儿媳"/>
																	<xs:enumeration value="其他女儿"/>
																	<xs:enumeration value="孙子、孙女、或外孙子、外孙女"/>
																	<xs:enumeration value="孙子、孙女或外孙子、外孙女"/>
																	<xs:enumeration value="孙子"/>
																	<xs:enumeration value="孙女"/>
																	<xs:enumeration value="外孙子"/>
																	<xs:enumeration value="外孙女"/>
																	<xs:enumeration value="孙媳妇或外孙媳妇"/>
																	<xs:enumeration value="孙女婿或外孙女婿"/>
																	<xs:enumeration value="曾孙子或外曾孙子"/>
																	<xs:enumeration value="曾孙女或外曾孙女"/>
																	<xs:enumeration value="其他孙子、孙女或外孙子、外孙女"/>
																	<xs:enumeration value="父母"/>
																	<xs:enumeration value="父母"/>
																	<xs:enumeration value="父亲"/>
																	<xs:enumeration value="母亲"/>
																	<xs:enumeration value="公公"/>
																	<xs:enumeration value="婆婆"/>
																	<xs:enumeration value="岳父"/>
																	<xs:enumeration value="岳母"/>
																	<xs:enumeration value="继父或养父"/>
																	<xs:enumeration value="继母或养母"/>
																	<xs:enumeration value="其他父母关系"/>
																	<xs:enumeration value="祖父母或外祖父母"/>
																	<xs:enumeration value="祖父母或外祖父母"/>
																	<xs:enumeration value="祖父"/>
																	<xs:enumeration value="祖母"/>
																	<xs:enumeration value="外祖父"/>
																	<xs:enumeration value="外祖母"/>
																	<xs:enumeration value="配偶的祖父母或外祖父母"/>
																	<xs:enumeration value="曾祖父"/>
																	<xs:enumeration value="曾祖母"/>
																	<xs:enumeration value="配偶的曾祖父母或外曾祖父母"/>
																	<xs:enumeration value="其他祖父母或外祖父母关系"/>
																	<xs:enumeration value="兄、弟、姐、妹"/>
																	<xs:enumeration value="兄弟姐妹"/>
																	<xs:enumeration value="兄"/>
																	<xs:enumeration value="嫂"/>
																	<xs:enumeration value="弟"/>
																	<xs:enumeration value="弟媳"/>
																	<xs:enumeration value="姐姐"/>
																	<xs:enumeration value="姐夫"/>
																	<xs:enumeration value="妹妹"/>
																	<xs:enumeration value="妹夫"/>
																	<xs:enumeration value="其他兄弟姐妹"/>
																	<xs:enumeration value="其他"/>
																	<xs:enumeration value="其他"/>
																	<xs:enumeration value="伯父"/>
																	<xs:enumeration value="伯母"/>
																	<xs:enumeration value="叔父"/>
																	<xs:enumeration value="婶母"/>
																	<xs:enumeration value="舅父"/>
																	<xs:enumeration value="舅母"/>
																	<xs:enumeration value="姨父"/>
																	<xs:enumeration value="姨母"/>
																	<xs:enumeration value="姑父"/>
																	<xs:enumeration value="姑母"/>
																	<xs:enumeration value="堂兄弟、堂姐妹"/>
																	<xs:enumeration value="表兄弟、表姐妹"/>
																	<xs:enumeration value="侄子"/>
																	<xs:enumeration value="侄女"/>
																	<xs:enumeration value="外甥"/>
																	<xs:enumeration value="外甥女"/>
																	<xs:enumeration value="其他亲属"/>
																	<xs:enumeration value="非亲属"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="codeSystem" type="xs:string" use="required"/>
														<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="relatedDocument">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parentDocument">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string"/>
										<xs:element name="setId" type="xs:string"/>
										<xs:element name="versionNumber" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="componentOf">
					<xs:annotation>
						<xs:documentation> 病床号、病房、病区、科室和医院的关联 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="encompassingEncounter">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="code" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="effectiveTime" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:documentation>住院时间</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="location">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="healthCareFacility">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="serviceProviderOrganization">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="asOrganizationPartOf">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="wholeOrganization">
																							<xs:annotation>
																								<xs:documentation> DE01.00.026.00	病床号 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="root" type="xs:string" use="required"/>
																													<xs:attribute name="extension" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:minLength value="1"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="name">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:minLength value="1"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="asOrganizationPartOf">
																										<xs:annotation>
																											<xs:documentation> DE01.00.019.00	病房号 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="wholeOrganization">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="id">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="name">
																																<xs:simpleType>
																																	<xs:restriction base="xs:string">
																																		<xs:minLength value="1"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																															<xs:element name="asOrganizationPartOf">
																																<xs:annotation>
																																	<xs:documentation> DE08.10.026.00	科室名称 </xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="wholeOrganization">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="id">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="root" type="xs:string" use="required"/>
																																									<xs:attribute name="extension" type="xs:string" use="required"/>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																					<xs:element name="name" type="xs:string"/>
																																					<xs:element name="asOrganizationPartOf">
																																						<xs:annotation>
																																							<xs:documentation> DE08.10.054.00	病区名称 </xs:documentation>
																																						</xs:annotation>
																																						<xs:complexType>
																																							<xs:sequence>
																																								<xs:element name="wholeOrganization">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element name="id">
																																												<xs:complexType>
																																													<xs:simpleContent>
																																														<xs:extension base="xs:string">
																																															<xs:attribute name="root" type="xs:string" use="required"/>
																																															<xs:attribute name="extension" type="xs:string" use="required"/>
																																														</xs:extension>
																																													</xs:simpleContent>
																																												</xs:complexType>
																																											</xs:element>
																																											<xs:element name="name" type="xs:string"/>
																																											<xs:element name="asOrganizationPartOf">
																																												<xs:annotation>
																																													<xs:documentation>XXX医院 </xs:documentation>
																																												</xs:annotation>
																																												<xs:complexType>
																																													<xs:sequence>
																																														<xs:element name="wholeOrganization">
																																															<xs:complexType>
																																																<xs:sequence>
																																																	<xs:element name="id">
																																																		<xs:complexType>
																																																			<xs:simpleContent>
																																																				<xs:extension base="xs:string">
																																																					<xs:attribute name="root" type="xs:string" use="required"/>
																																																					<xs:attribute name="extension" use="required">
																																																						<xs:simpleType>
																																																							<xs:restriction base="xs:string">
																																																								<xs:length value="18"/>
																																																							</xs:restriction>
																																																						</xs:simpleType>
																																																					</xs:attribute>
																																																				</xs:extension>
																																																			</xs:simpleContent>
																																																		</xs:complexType>
																																																	</xs:element>
																																																	<xs:element name="name" type="xs:string"/>
																																																</xs:sequence>
																																																<xs:attribute name="classCode" type="xs:string"/>
																																																<xs:attribute name="determinerCode" type="xs:string"/>
																																															</xs:complexType>
																																														</xs:element>
																																													</xs:sequence>
																																													<xs:attribute name="classCode" type="xs:string"/>
																																												</xs:complexType>
																																											</xs:element>
																																										</xs:sequence>
																																										<xs:attribute name="classCode" type="xs:string"/>
																																										<xs:attribute name="determinerCode" type="xs:string"/>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:attribute name="classCode" type="xs:string"/>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																				<xs:attribute name="classCode" type="xs:string"/>
																																				<xs:attribute name="determinerCode" type="xs:string"/>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string"/>
																														<xs:attribute name="determinerCode" type="xs:string"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string"/>
																								<xs:attribute name="determinerCode" type="xs:string"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="optional" fixed="ORG"/>
																		<xs:attribute name="determinerCode" type="xs:string" use="optional" fixed="INSTANCE"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="classCode" type="xs:string" use="optional" fixed="SDLOC"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="typeCode" type="xs:string" use="optional" fixed="LOC"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="component">
					<xs:annotation>
						<xs:documentation>BODY</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="structuredBody">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="component" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>诊断章节输血章节治疗计划章节意见章节风险章节</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" type="xs:string" use="optional"/>
																				<xs:attribute name="codeSystem" type="xs:string" use="optional"/>
																				<xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
																				<xs:attribute name="displayName" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="text" type="xs:string"/>
																<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>疾病诊断编码医疗机构意见患者意见输血风险及可能发生的不良后果</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="observation" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="code">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="code" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																										<xs:attribute name="displayName" type="xs:string" use="optional"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value">
																							<xs:annotation>
																								<xs:documentation>1无，2有，9未说明</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="optional"/>
																					<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="procedure" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>输血过程</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="code"/>
																						<xs:element name="effectiveTime">
																							<xs:annotation>
																								<xs:documentation>输血时间</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="entryRelationship" minOccurs="0" maxOccurs="unbounded">
																							<xs:annotation>
																								<xs:documentation>输血方式输血指征输血品种代码输血前有关检查项目以及结果</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="observation" minOccurs="0">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="code">
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="code" type="xs:string" use="required"/>
																																<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																																<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																																<xs:attribute name="displayName" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="value" type="xs:string"/>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="optional"/>
																											<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="substanceAdministration" minOccurs="0">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="consumable">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="manufacturedProduct">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="manufacturedMaterial">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="code">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="code" type="xs:string" use="required"/>
																																									<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																																									<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																																									<xs:attribute name="displayName" type="xs:string" use="required"/>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string"/>
																											<xs:attribute name="moodCode" type="xs:string"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="typeCode" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string"/>
																					<xs:attribute name="moodCode" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CD">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:string" use="required"/>
				<xs:attribute name="codeSystem" type="xs:string" use="required"/>
				<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
				<xs:attribute name="displayName" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TS">
		<xs:attribute name="value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ST">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ED">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
