hipmessageservice/static/hipmessageservice/services/schemas/cdas/C0035.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClinicalDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="realmCode">
					<xs:annotation>
						<xs:documentation>
********************************************************
 CDA Header
********************************************************
</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="typeId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required"/>
								<xs:attribute name="extension" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="templateId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="id">
					<xs:annotation>
						<xs:documentation> 文档流水号 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string" use="required"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="code">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="C0035"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="codeSystem" type="xs:string" use="required"/>
								<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="24小时内入出院记录"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="effectiveTime">
					<xs:annotation>
						<xs:documentation> 文档机器生成时间 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="confidentialityCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
								<xs:attribute name="codeSystem" type="xs:string" use="required"/>
								<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
								<xs:attribute name="displayName" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="languageCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="setId" type="xs:string"/>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="recordTarget">
					<xs:annotation>
						<xs:documentation>文档记录对象（患者） [1..*] contextControlCode="OP"表示本信息可以被重载</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="patientRole">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:annotation>
												<xs:documentation>住院号标识</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="36"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="addr">
											<xs:annotation>
												<xs:documentation> 现住址 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="houseNumber" type="xs:string"/>
													<xs:element name="streetName" type="xs:string"/>
													<xs:element name="township" type="xs:string"/>
													<xs:element name="county" type="xs:string"/>
													<xs:element name="city" type="xs:string"/>
													<xs:element name="state" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="use" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="patient">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:annotation>
															<xs:documentation>患者身份证号</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="administrativeGenderCode">
														<xs:annotation>
															<xs:documentation> 性别代码 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:byte">
																				<xs:enumeration value="0"/>
																				<xs:enumeration value="1"/>
																				<xs:enumeration value="2"/>
																				<xs:enumeration value="9"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="2.16.156.10011.2.3.3.4"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystemName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="生理性别代码表(GB/T 2261.1)"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="未知的性别"/>
																				<xs:enumeration value="男性"/>
																				<xs:enumeration value="女性"/>
																				<xs:enumeration value="未说明的性别"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="maritalStatusCode">
														<xs:annotation>
															<xs:documentation> 婚姻状况代码 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="10"/>
																				<xs:enumeration value="20"/>
																				<xs:enumeration value="21"/>
																				<xs:enumeration value="22"/>
																				<xs:enumeration value="23"/>
																				<xs:enumeration value="30"/>
																				<xs:enumeration value="40"/>
																				<xs:enumeration value="90"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="未婚"/>
																				<xs:enumeration value="已婚"/>
																				<xs:enumeration value="初婚"/>
																				<xs:enumeration value="再婚"/>
																				<xs:enumeration value="复婚"/>
																				<xs:enumeration value="丧偶"/>
																				<xs:enumeration value="离婚"/>
																				<xs:enumeration value="未说明的婚姻状况"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																	<xs:attribute name="codeSystemName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="婚姻状况代码表(GB/T 2261.2)"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="ethnicGroupCode">
														<xs:annotation>
															<xs:documentation> 民族 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="01"/>
																				<xs:enumeration value="02"/>
																				<xs:enumeration value="03"/>
																				<xs:enumeration value="04"/>
																				<xs:enumeration value="05"/>
																				<xs:enumeration value="06"/>
																				<xs:enumeration value="07"/>
																				<xs:enumeration value="08"/>
																				<xs:enumeration value="09"/>
																				<xs:enumeration value="10"/>
																				<xs:enumeration value="11"/>
																				<xs:enumeration value="12"/>
																				<xs:enumeration value="13"/>
																				<xs:enumeration value="14"/>
																				<xs:enumeration value="15"/>
																				<xs:enumeration value="16"/>
																				<xs:enumeration value="17"/>
																				<xs:enumeration value="18"/>
																				<xs:enumeration value="19"/>
																				<xs:enumeration value="20"/>
																				<xs:enumeration value="21"/>
																				<xs:enumeration value="22"/>
																				<xs:enumeration value="23"/>
																				<xs:enumeration value="24"/>
																				<xs:enumeration value="25"/>
																				<xs:enumeration value="26"/>
																				<xs:enumeration value="27"/>
																				<xs:enumeration value="28"/>
																				<xs:enumeration value="29"/>
																				<xs:enumeration value="30"/>
																				<xs:enumeration value="31"/>
																				<xs:enumeration value="32"/>
																				<xs:enumeration value="33"/>
																				<xs:enumeration value="34"/>
																				<xs:enumeration value="35"/>
																				<xs:enumeration value="36"/>
																				<xs:enumeration value="37"/>
																				<xs:enumeration value="38"/>
																				<xs:enumeration value="39"/>
																				<xs:enumeration value="40"/>
																				<xs:enumeration value="41"/>
																				<xs:enumeration value="42"/>
																				<xs:enumeration value="43"/>
																				<xs:enumeration value="44"/>
																				<xs:enumeration value="45"/>
																				<xs:enumeration value="46"/>
																				<xs:enumeration value="47"/>
																				<xs:enumeration value="48"/>
																				<xs:enumeration value="49"/>
																				<xs:enumeration value="50"/>
																				<xs:enumeration value="51"/>
																				<xs:enumeration value="52"/>
																				<xs:enumeration value="53"/>
																				<xs:enumeration value="54"/>
																				<xs:enumeration value="55"/>
																				<xs:enumeration value="56"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="汉族"/>
																				<xs:enumeration value="蒙古族"/>
																				<xs:enumeration value="回族"/>
																				<xs:enumeration value="藏族"/>
																				<xs:enumeration value="维吾尔族"/>
																				<xs:enumeration value="苗族"/>
																				<xs:enumeration value="彝族"/>
																				<xs:enumeration value="壮族"/>
																				<xs:enumeration value="布依族"/>
																				<xs:enumeration value="朝鲜族"/>
																				<xs:enumeration value="满族"/>
																				<xs:enumeration value="侗族"/>
																				<xs:enumeration value="瑶族"/>
																				<xs:enumeration value="白族"/>
																				<xs:enumeration value="土家族"/>
																				<xs:enumeration value="哈尼族"/>
																				<xs:enumeration value="哈萨克族"/>
																				<xs:enumeration value="傣族"/>
																				<xs:enumeration value="黎族"/>
																				<xs:enumeration value="傈僳族"/>
																				<xs:enumeration value="佤族"/>
																				<xs:enumeration value="畲族"/>
																				<xs:enumeration value="高山族"/>
																				<xs:enumeration value="拉祜族"/>
																				<xs:enumeration value="水族"/>
																				<xs:enumeration value="东乡族"/>
																				<xs:enumeration value="纳西族"/>
																				<xs:enumeration value="景颇族"/>
																				<xs:enumeration value="柯尔克孜族"/>
																				<xs:enumeration value="土族"/>
																				<xs:enumeration value="达斡尔族"/>
																				<xs:enumeration value="仫佬族"/>
																				<xs:enumeration value="羌族"/>
																				<xs:enumeration value="布朗族"/>
																				<xs:enumeration value="撒拉族"/>
																				<xs:enumeration value="毛难族"/>
																				<xs:enumeration value="仡佬族"/>
																				<xs:enumeration value="锡伯族"/>
																				<xs:enumeration value="阿昌族"/>
																				<xs:enumeration value="普米族"/>
																				<xs:enumeration value="塔吉克族"/>
																				<xs:enumeration value="怒族"/>
																				<xs:enumeration value="乌孜别克族"/>
																				<xs:enumeration value="俄罗斯族"/>
																				<xs:enumeration value="鄂温克族"/>
																				<xs:enumeration value="德昂族"/>
																				<xs:enumeration value="保安族"/>
																				<xs:enumeration value="裕固族"/>
																				<xs:enumeration value="京族"/>
																				<xs:enumeration value="塔塔尔族"/>
																				<xs:enumeration value="独龙族"/>
																				<xs:enumeration value="鄂伦春族"/>
																				<xs:enumeration value="赫哲族"/>
																				<xs:enumeration value="门巴族"/>
																				<xs:enumeration value="珞巴族"/>
																				<xs:enumeration value="基诺族"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																	<xs:attribute name="codeSystemName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="民族类别代码表(GB 3304)"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="age">
														<xs:annotation>
															<xs:documentation> 年龄 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="unit">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="岁"/>
																				<xs:enumeration value="周"/>
																				<xs:enumeration value="天"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="value" type="xs:byte"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="occupation">
														<xs:annotation>
															<xs:documentation>职业状况</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="occupationCode">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" use="required">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:enumeration value="11"/>
																							<xs:enumeration value="13"/>
																							<xs:enumeration value="17"/>
																							<xs:enumeration value="21"/>
																							<xs:enumeration value="24"/>
																							<xs:enumeration value="27"/>
																							<xs:enumeration value="31"/>
																							<xs:enumeration value="37"/>
																							<xs:enumeration value="51"/>
																							<xs:enumeration value="54"/>
																							<xs:enumeration value="70"/>
																							<xs:enumeration value="80"/>
																							<xs:enumeration value="90"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																				<xs:attribute name="codeSystemName" use="required">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:enumeration value="从业状况(个人身体)代码表(GB/T 2261.4)"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="displayName" use="required">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:enumeration value="国家公务员"/>
																							<xs:enumeration value="专业技术人员"/>
																							<xs:enumeration value="职员"/>
																							<xs:enumeration value="企业管理人员"/>
																							<xs:enumeration value="工人"/>
																							<xs:enumeration value="农民"/>
																							<xs:enumeration value="学生"/>
																							<xs:enumeration value="现役军人"/>
																							<xs:enumeration value="自由职业者"/>
																							<xs:enumeration value="个体经营者"/>
																							<xs:enumeration value="无业人员"/>
																							<xs:enumeration value="退(离)休人员"/>
																							<xs:enumeration value="其他"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="author">
					<xs:annotation>
						<xs:documentation>文档创作者 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> 文档日期 </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="assignedAuthor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:annotation>
												<xs:documentation> 医师姓名 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="informant">
					<xs:annotation>
						<xs:documentation> 病史陈述者 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="optional"/>
														<xs:attribute name="extension" type="xs:string" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="code">
											<xs:annotation>
												<xs:documentation>陈述者与患者的关系代码</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="code" type="xs:string" use="required"/>
														<xs:attribute name="displayName" type="xs:string" use="required"/>
														<xs:attribute name="codeSystem" type="xs:string" use="required"/>
														<xs:attribute name="codeSystemName" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="家庭关系代码表(GB/T 4761)"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="custodian">
					<xs:annotation>
						<xs:documentation> 保管机构 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedCustodian">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="representedCustodianOrganization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value="18"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="legalAuthenticator">
					<xs:annotation>
						<xs:documentation> 科主任签名 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time" type="xs:string"/>
							<xs:element name="signatureCode" type="xs:string"/>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="code">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="displayName" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="authenticator" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> 主(副主)任医师签名  主治医师签名  住院医师签名  责任护士签名  进修医师签名  实习医师签名  编码员签名 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time" type="xs:string"/>
							<xs:element name="signatureCode" type="xs:string"/>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="code">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="displayName" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="optional"/>
												<xs:attribute name="determinerCode" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="relatedDocument">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parentDocument">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string"/>
										<xs:element name="setId" type="xs:string"/>
										<xs:element name="versionNumber" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="componentOf">
					<xs:annotation>
						<xs:documentation>文档中医疗卫生事件的就诊场景,即入院场景记录</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="encompassingEncounter">
								<xs:annotation>
									<xs:documentation>就诊</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="effectiveTime">
											<xs:annotation>
												<xs:documentation>就诊时间</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="low">
														<xs:complexType>
															<xs:attribute name="value" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="high">
														<xs:complexType>
															<xs:attribute name="value" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
									<xs:attribute name="moodCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="component">
					<xs:annotation>
						<xs:documentation>***************************************************
文档体Body
*******************************************************
</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="structuredBody">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="component" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>主诉章节现病史章节主要健康问题章节  
********************************************************
入院诊断章节
********************************************************
治疗计划章节住院过程章节 
********************************************************
出院诊断章节
********************************************************
医嘱章节</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" type="xs:string" use="optional"/>
																				<xs:attribute name="displayName" type="xs:string" use="required"/>
																				<xs:attribute name="codeSystem" type="xs:string" use="optional"/>
																				<xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="text" type="xs:string"/>
																<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>主诉条目现病史条目陈述内容可靠标志症状名称中医“四诊”观察结果入院诊断-西医条目入院诊断-中医条目治则治法条目入院情况条目诊疗过程描述条目出院情况条目出院诊断-西医条目出院诊断-中医条目出院医嘱条目</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="observation">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="code">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="code" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																										<xs:attribute name="displayName" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="effectiveTime" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>出院医嘱开立日期时间</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="value" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value"/>
																						<xs:element name="entryRelationship" minOccurs="0" maxOccurs="unbounded">
																							<xs:annotation>
																								<xs:documentation>症状描述</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="observation">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="code">
																													<xs:annotation>
																														<xs:documentation>入院诊断-西医诊断编码-代码入院诊断-中医诊断编码-代码入院诊断-中医证候编码-名称入院诊断-中医证候编码-代码出院诊断-西医诊断编码-代码出院诊断-中医诊断编码-代码出院诊断-中医证候编码-名称出院诊断-中医证候编码-代码</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="code" type="xs:string" use="required"/>
																																<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																																<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																																<xs:attribute name="displayName" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="value"/>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="optional"/>
																											<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="typeCode" type="xs:string" use="optional"/>
																								<xs:attribute name="inversionInd" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="optional"/>
																					<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="BL">
		<xs:attribute name="value" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="CD">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:string" use="required"/>
				<xs:attribute name="codeSystem" type="xs:string" use="required"/>
				<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
				<xs:attribute name="displayName" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
