hipmessageservice/static/hipmessageservice/services/schemas/cdas/C0038.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClinicalDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="realmCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="typeId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="templateId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="id">
					<xs:annotation>
						<xs:documentation> 文档流水号 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="code">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="C0038"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="日常病程记录"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="effectiveTime">
					<xs:annotation>
						<xs:documentation> 文档机器生成时间 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="confidentialityCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
								<xs:attribute name="displayName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="languageCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="setId" type="xs:string"/>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="recordTarget">
					<xs:annotation>
						<xs:documentation>文档记录对象（患者）</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="patientRole">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation> 健康卡号  住院号标识  病案号标识 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="patient">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:annotation>
															<xs:documentation>患者身份证号</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="administrativeGenderCode">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:byte">
																				<xs:enumeration value="0"/>
																				<xs:enumeration value="1"/>
																				<xs:enumeration value="2"/>
																				<xs:enumeration value="9"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="未知的性别"/>
																				<xs:enumeration value="男性"/>
																				<xs:enumeration value="女性"/>
																				<xs:enumeration value="未说明的性别"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																	<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="birthTime">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="age">
														<xs:annotation>
															<xs:documentation> 年龄 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="unit" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="岁"/>
																				<xs:enumeration value="月"/>
																				<xs:enumeration value="周"/>
																				<xs:enumeration value="天"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="value" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:int">
																				<xs:minInclusive value="0"/>
																				<xs:maxInclusive value="150"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="author">
					<xs:annotation>
						<xs:documentation>文档创作者 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> 文档日期 </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="assignedAuthor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string"/>
														<xs:attribute name="extension" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:annotation>
												<xs:documentation> 医师姓名 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="required" fixed="PSN"/>
												<xs:attribute name="determinerCode" type="xs:string" use="required" fixed="INSTANCE"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="custodian">
					<xs:annotation>
						<xs:documentation> 保管机构 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedCustodian">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="representedCustodianOrganization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value="18"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="authenticator" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> 主(副主)任医师签名  主治医师签名  住院医师签名  责任护士签名  进修医师签名  实习医师签名  编码员签名 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="value" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="signatureCode" type="xs:string"/>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="code">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="displayName" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="professionalTechnicalPosition">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="professionaltechnicalpositionCode">
																	<xs:complexType>
																		<xs:attribute name="code" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="1"/>
																					<xs:enumeration value="2"/>
																					<xs:enumeration value="3"/>
																					<xs:enumeration value="4"/>
																					<xs:enumeration value="5"/>
																					<xs:enumeration value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="codeSystem" type="xs:string" use="required" fixed="2.16.156.10011.2.3.1.209"/>
																		<xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="专业技术职务类别代码表"/>
																		<xs:attribute name="displayName" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="正高"/>
																					<xs:enumeration value="副高"/>
																					<xs:enumeration value="中级"/>
																					<xs:enumeration value="师级/助理"/>
																					<xs:enumeration value="士级"/>
																					<xs:enumeration value="待聘"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="optional"/>
												<xs:attribute name="determinerCode" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="relatedDocument">
					<xs:annotation>
						<xs:documentation>相关文档</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parentDocument">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string"/>
										<xs:element name="setId" type="xs:string"/>
										<xs:element name="versionNumber" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="componentOf">
					<xs:annotation>
						<xs:documentation>文档中医疗卫生事件的就诊场景,即入院场景记录</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="encompassingEncounter">
								<xs:annotation>
									<xs:documentation>就诊</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="code">
											<xs:complexType>
												<xs:attribute name="displayName" use="required" fixed="记录日期时间">
													<xs:simpleType>
														<xs:restriction base="xs:string"/>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="effectiveTime">
											<xs:annotation>
												<xs:documentation>就诊时间</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="location">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="healthCareFacility">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="serviceProviderOrganization">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="asOrganizationPartOf">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="wholeOrganization">
																							<xs:annotation>
																								<xs:documentation> DE01.00.026.00	病床号 </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="id">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="root" type="xs:string" use="required"/>
																													<xs:attribute name="extension" use="required">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:minLength value="1"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="name">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:minLength value="1"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="asOrganizationPartOf">
																										<xs:annotation>
																											<xs:documentation> DE01.00.019.00	病房号 </xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="wholeOrganization">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="id">
																																<xs:complexType>
																																	<xs:simpleContent>
																																		<xs:extension base="xs:string">
																																			<xs:attribute name="root" type="xs:string" use="required"/>
																																			<xs:attribute name="extension" type="xs:string" use="required"/>
																																		</xs:extension>
																																	</xs:simpleContent>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="name">
																																<xs:simpleType>
																																	<xs:restriction base="xs:string">
																																		<xs:minLength value="1"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																															<xs:element name="asOrganizationPartOf">
																																<xs:annotation>
																																	<xs:documentation> DE08.10.026.00	科室名称 </xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="wholeOrganization">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="id">
																																						<xs:complexType>
																																							<xs:simpleContent>
																																								<xs:extension base="xs:string">
																																									<xs:attribute name="root" type="xs:string" use="required"/>
																																									<xs:attribute name="extension" type="xs:string" use="required"/>
																																								</xs:extension>
																																							</xs:simpleContent>
																																						</xs:complexType>
																																					</xs:element>
																																					<xs:element name="name" type="xs:string"/>
																																					<xs:element name="asOrganizationPartOf">
																																						<xs:annotation>
																																							<xs:documentation> DE08.10.054.00	病区名称 </xs:documentation>
																																						</xs:annotation>
																																						<xs:complexType>
																																							<xs:sequence>
																																								<xs:element name="wholeOrganization">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element name="id">
																																												<xs:complexType>
																																													<xs:simpleContent>
																																														<xs:extension base="xs:string">
																																															<xs:attribute name="root" type="xs:string" use="required"/>
																																															<xs:attribute name="extension" type="xs:string" use="required"/>
																																														</xs:extension>
																																													</xs:simpleContent>
																																												</xs:complexType>
																																											</xs:element>
																																											<xs:element name="name" type="xs:string"/>
																																											<xs:element name="asOrganizationPartOf">
																																												<xs:annotation>
																																													<xs:documentation>XXX医院 </xs:documentation>
																																												</xs:annotation>
																																												<xs:complexType>
																																													<xs:sequence>
																																														<xs:element name="wholeOrganization">
																																															<xs:complexType>
																																																<xs:sequence>
																																																	<xs:element name="id">
																																																		<xs:complexType>
																																																			<xs:simpleContent>
																																																				<xs:extension base="xs:string">
																																																					<xs:attribute name="root" type="xs:string" use="required"/>
																																																					<xs:attribute name="extension" use="required">
																																																						<xs:simpleType>
																																																							<xs:restriction base="xs:string">
																																																								<xs:length value="18"/>
																																																							</xs:restriction>
																																																						</xs:simpleType>
																																																					</xs:attribute>
																																																				</xs:extension>
																																																			</xs:simpleContent>
																																																		</xs:complexType>
																																																	</xs:element>
																																																	<xs:element name="name" type="xs:string"/>
																																																</xs:sequence>
																																																<xs:attribute name="classCode" type="xs:string"/>
																																																<xs:attribute name="determinerCode" type="xs:string"/>
																																															</xs:complexType>
																																														</xs:element>
																																													</xs:sequence>
																																													<xs:attribute name="classCode" type="xs:string"/>
																																												</xs:complexType>
																																											</xs:element>
																																										</xs:sequence>
																																										<xs:attribute name="classCode" type="xs:string"/>
																																										<xs:attribute name="determinerCode" type="xs:string"/>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:attribute name="classCode" type="xs:string"/>
																																						</xs:complexType>
																																					</xs:element>
																																				</xs:sequence>
																																				<xs:attribute name="classCode" type="xs:string"/>
																																				<xs:attribute name="determinerCode" type="xs:string"/>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:attribute name="classCode" type="xs:string"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																														<xs:attribute name="classCode" type="xs:string"/>
																														<xs:attribute name="determinerCode" type="xs:string"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="classCode" type="xs:string"/>
																								<xs:attribute name="determinerCode" type="xs:string"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="classCode" type="xs:string" use="optional" fixed="ORG"/>
																		<xs:attribute name="determinerCode" type="xs:string" use="optional" fixed="INSTANCE"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="classCode" type="xs:string" use="optional" fixed="SDLOC"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="typeCode" type="xs:string" use="optional" fixed="LOC"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
									<xs:attribute name="moodCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="component">
					<xs:annotation>
						<xs:documentation>
*************************************************
文档体
*************************************************
</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="structuredBody">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="component" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
**************************************************
主要健康问题章节
**************************************************

***************************************************
 诊断章节 
***************************************************
住院医嘱章节
****************************************************
治疗计划章节
****************************************************

*****************************************************
用药章节
*****************************************************
</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" type="xs:string" use="required"/>
																				<xs:attribute name="displayName" type="xs:string" use="required"/>
																				<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																				<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="text" type="xs:string" minOccurs="0"/>
																<xs:element name="title" type="xs:string" minOccurs="0"/>
																<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>辨证论治中药煎煮法中药用药方法</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="observation">
																				<xs:annotation>
																					<xs:documentation>住院病程</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="code">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="code" type="xs:string" use="required"/>
																										<xs:attribute name="displayName" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value" type="xs:string"/>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="optional"/>
																					<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IVL_TS">
		<xs:attribute name="value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ST">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
