hipmessageservice/static/hipmessageservice/services/schemas/cdas/C0036.xsd

<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClinicalDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="realmCode">
					<xs:annotation>
						<xs:documentation>
********************************************************
 CDA Header
********************************************************
</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="typeId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="templateId">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="id">
					<xs:annotation>
						<xs:documentation> 文档流水号 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="root" type="xs:string"/>
								<xs:attribute name="extension" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="32"/>
											<xs:maxLength value="36"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="code">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="C0036"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="24小时内入院死亡记录"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="effectiveTime">
					<xs:annotation>
						<xs:documentation> 文档机器生成时间 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="value" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="confidentialityCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
								<xs:attribute name="codeSystem" type="xs:string"/>
								<xs:attribute name="codeSystemName" type="xs:string"/>
								<xs:attribute name="displayName" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="languageCode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="setId" type="xs:string"/>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="recordTarget">
					<xs:annotation>
						<xs:documentation>文档记录对象（患者）</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="patientRole">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation> 健康卡号  住院号标识  病案号标识 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="addr">
											<xs:annotation>
												<xs:documentation> 现住址 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="houseNumber" type="xs:string"/>
													<xs:element name="streetName" type="xs:string"/>
													<xs:element name="township" type="xs:string"/>
													<xs:element name="county" type="xs:string"/>
													<xs:element name="city" type="xs:string"/>
													<xs:element name="state" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="use" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="patient">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:annotation>
															<xs:documentation>患者身份证号</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string" use="required"/>
																	<xs:attribute name="extension" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="administrativeGenderCode">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:byte">
																				<xs:enumeration value="0"/>
																				<xs:enumeration value="1"/>
																				<xs:enumeration value="2"/>
																				<xs:enumeration value="9"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="未知的性别"/>
																				<xs:enumeration value="男性"/>
																				<xs:enumeration value="女性"/>
																				<xs:enumeration value="未说明的性别"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																	<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="maritalStatusCode">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="10"/>
																				<xs:enumeration value="20"/>
																				<xs:enumeration value="21"/>
																				<xs:enumeration value="22"/>
																				<xs:enumeration value="23"/>
																				<xs:enumeration value="30"/>
																				<xs:enumeration value="40"/>
																				<xs:enumeration value="90"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="未婚"/>
																				<xs:enumeration value="已婚"/>
																				<xs:enumeration value="初婚"/>
																				<xs:enumeration value="再婚"/>
																				<xs:enumeration value="复婚"/>
																				<xs:enumeration value="丧偶"/>
																				<xs:enumeration value="离婚"/>
																				<xs:enumeration value="未说明的婚姻状况"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																	<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="ethnicGroupCode">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="code" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="01"/>
																				<xs:enumeration value="02"/>
																				<xs:enumeration value="03"/>
																				<xs:enumeration value="04"/>
																				<xs:enumeration value="05"/>
																				<xs:enumeration value="06"/>
																				<xs:enumeration value="07"/>
																				<xs:enumeration value="08"/>
																				<xs:enumeration value="09"/>
																				<xs:enumeration value="10"/>
																				<xs:enumeration value="11"/>
																				<xs:enumeration value="12"/>
																				<xs:enumeration value="13"/>
																				<xs:enumeration value="14"/>
																				<xs:enumeration value="15"/>
																				<xs:enumeration value="16"/>
																				<xs:enumeration value="17"/>
																				<xs:enumeration value="18"/>
																				<xs:enumeration value="19"/>
																				<xs:enumeration value="20"/>
																				<xs:enumeration value="21"/>
																				<xs:enumeration value="22"/>
																				<xs:enumeration value="23"/>
																				<xs:enumeration value="24"/>
																				<xs:enumeration value="25"/>
																				<xs:enumeration value="26"/>
																				<xs:enumeration value="27"/>
																				<xs:enumeration value="28"/>
																				<xs:enumeration value="29"/>
																				<xs:enumeration value="30"/>
																				<xs:enumeration value="31"/>
																				<xs:enumeration value="32"/>
																				<xs:enumeration value="33"/>
																				<xs:enumeration value="34"/>
																				<xs:enumeration value="35"/>
																				<xs:enumeration value="36"/>
																				<xs:enumeration value="37"/>
																				<xs:enumeration value="38"/>
																				<xs:enumeration value="39"/>
																				<xs:enumeration value="40"/>
																				<xs:enumeration value="41"/>
																				<xs:enumeration value="42"/>
																				<xs:enumeration value="43"/>
																				<xs:enumeration value="44"/>
																				<xs:enumeration value="45"/>
																				<xs:enumeration value="46"/>
																				<xs:enumeration value="47"/>
																				<xs:enumeration value="48"/>
																				<xs:enumeration value="49"/>
																				<xs:enumeration value="50"/>
																				<xs:enumeration value="51"/>
																				<xs:enumeration value="52"/>
																				<xs:enumeration value="53"/>
																				<xs:enumeration value="54"/>
																				<xs:enumeration value="55"/>
																				<xs:enumeration value="56"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="displayName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="汉族"/>
																				<xs:enumeration value="蒙古族"/>
																				<xs:enumeration value="回族"/>
																				<xs:enumeration value="藏族"/>
																				<xs:enumeration value="维吾尔族"/>
																				<xs:enumeration value="苗族"/>
																				<xs:enumeration value="彝族"/>
																				<xs:enumeration value="壮族"/>
																				<xs:enumeration value="布依族"/>
																				<xs:enumeration value="朝鲜族"/>
																				<xs:enumeration value="满族"/>
																				<xs:enumeration value="侗族"/>
																				<xs:enumeration value="瑶族"/>
																				<xs:enumeration value="白族"/>
																				<xs:enumeration value="土家族"/>
																				<xs:enumeration value="哈尼族"/>
																				<xs:enumeration value="哈萨克族"/>
																				<xs:enumeration value="傣族"/>
																				<xs:enumeration value="黎族"/>
																				<xs:enumeration value="傈僳族"/>
																				<xs:enumeration value="佤族"/>
																				<xs:enumeration value="畲族"/>
																				<xs:enumeration value="高山族"/>
																				<xs:enumeration value="拉祜族"/>
																				<xs:enumeration value="水族"/>
																				<xs:enumeration value="东乡族"/>
																				<xs:enumeration value="纳西族"/>
																				<xs:enumeration value="景颇族"/>
																				<xs:enumeration value="柯尔克孜族"/>
																				<xs:enumeration value="土族"/>
																				<xs:enumeration value="达斡尔族"/>
																				<xs:enumeration value="仫佬族"/>
																				<xs:enumeration value="羌族"/>
																				<xs:enumeration value="布朗族"/>
																				<xs:enumeration value="撒拉族"/>
																				<xs:enumeration value="毛难族"/>
																				<xs:enumeration value="仡佬族"/>
																				<xs:enumeration value="锡伯族"/>
																				<xs:enumeration value="阿昌族"/>
																				<xs:enumeration value="普米族"/>
																				<xs:enumeration value="塔吉克族"/>
																				<xs:enumeration value="怒族"/>
																				<xs:enumeration value="乌孜别克族"/>
																				<xs:enumeration value="俄罗斯族"/>
																				<xs:enumeration value="鄂温克族"/>
																				<xs:enumeration value="德昂族"/>
																				<xs:enumeration value="保安族"/>
																				<xs:enumeration value="裕固族"/>
																				<xs:enumeration value="京族"/>
																				<xs:enumeration value="塔塔尔族"/>
																				<xs:enumeration value="独龙族"/>
																				<xs:enumeration value="鄂伦春族"/>
																				<xs:enumeration value="赫哲族"/>
																				<xs:enumeration value="门巴族"/>
																				<xs:enumeration value="珞巴族"/>
																				<xs:enumeration value="基诺族"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																	<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="age">
														<xs:annotation>
															<xs:documentation> 年龄 </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="unit" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="岁"/>
																				<xs:enumeration value="月"/>
																				<xs:enumeration value="周"/>
																				<xs:enumeration value="天"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="value" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:int">
																				<xs:minInclusive value="0"/>
																				<xs:maxInclusive value="150"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="occupation">
														<xs:annotation>
															<xs:documentation>职业状况</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="occupationCode">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" use="required">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:enumeration value="11"/>
																							<xs:enumeration value="13"/>
																							<xs:enumeration value="17"/>
																							<xs:enumeration value="21"/>
																							<xs:enumeration value="24"/>
																							<xs:enumeration value="27"/>
																							<xs:enumeration value="31"/>
																							<xs:enumeration value="37"/>
																							<xs:enumeration value="51"/>
																							<xs:enumeration value="54"/>
																							<xs:enumeration value="70"/>
																							<xs:enumeration value="80"/>
																							<xs:enumeration value="90"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																				<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																				<xs:attribute name="displayName" use="required">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:enumeration value="国家公务员"/>
																							<xs:enumeration value="专业技术人员"/>
																							<xs:enumeration value="职员"/>
																							<xs:enumeration value="企业管理人员"/>
																							<xs:enumeration value="工人"/>
																							<xs:enumeration value="农民"/>
																							<xs:enumeration value="学生"/>
																							<xs:enumeration value="现役军人"/>
																							<xs:enumeration value="自由职业者"/>
																							<xs:enumeration value="个体经营者"/>
																							<xs:enumeration value="无业人员"/>
																							<xs:enumeration value="退(离)休人员"/>
																							<xs:enumeration value="其他"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="author">
					<xs:annotation>
						<xs:documentation>文档创作者 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation> 文档日期 </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="assignedAuthor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string"/>
														<xs:attribute name="extension" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:annotation>
												<xs:documentation> 医师姓名 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
						<xs:attribute name="contextControlCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="informant">
					<xs:annotation>
						<xs:documentation> 病史陈述者 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string"/>
										<xs:element name="code">
											<xs:annotation>
												<xs:documentation>陈述者与患者的关系代码</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="code" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="0"/>
																	<xs:enumeration value="01"/>
																	<xs:enumeration value="02"/>
																	<xs:enumeration value="1"/>
																	<xs:enumeration value="10"/>
																	<xs:enumeration value="11"/>
																	<xs:enumeration value="12"/>
																	<xs:enumeration value="2"/>
																	<xs:enumeration value="20"/>
																	<xs:enumeration value="21"/>
																	<xs:enumeration value="22"/>
																	<xs:enumeration value="23"/>
																	<xs:enumeration value="24"/>
																	<xs:enumeration value="25"/>
																	<xs:enumeration value="26"/>
																	<xs:enumeration value="27"/>
																	<xs:enumeration value="28"/>
																	<xs:enumeration value="29"/>
																	<xs:enumeration value="3"/>
																	<xs:enumeration value="30"/>
																	<xs:enumeration value="31"/>
																	<xs:enumeration value="32"/>
																	<xs:enumeration value="33"/>
																	<xs:enumeration value="34"/>
																	<xs:enumeration value="35"/>
																	<xs:enumeration value="36"/>
																	<xs:enumeration value="37"/>
																	<xs:enumeration value="38"/>
																	<xs:enumeration value="39"/>
																	<xs:enumeration value="4"/>
																	<xs:enumeration value="40"/>
																	<xs:enumeration value="41"/>
																	<xs:enumeration value="42"/>
																	<xs:enumeration value="43"/>
																	<xs:enumeration value="44"/>
																	<xs:enumeration value="45"/>
																	<xs:enumeration value="46"/>
																	<xs:enumeration value="47"/>
																	<xs:enumeration value="48"/>
																	<xs:enumeration value="49"/>
																	<xs:enumeration value="5"/>
																	<xs:enumeration value="50"/>
																	<xs:enumeration value="51"/>
																	<xs:enumeration value="52"/>
																	<xs:enumeration value="53"/>
																	<xs:enumeration value="54"/>
																	<xs:enumeration value="55"/>
																	<xs:enumeration value="56"/>
																	<xs:enumeration value="57"/>
																	<xs:enumeration value="58"/>
																	<xs:enumeration value="59"/>
																	<xs:enumeration value="6"/>
																	<xs:enumeration value="60"/>
																	<xs:enumeration value="61"/>
																	<xs:enumeration value="62"/>
																	<xs:enumeration value="63"/>
																	<xs:enumeration value="64"/>
																	<xs:enumeration value="65"/>
																	<xs:enumeration value="66"/>
																	<xs:enumeration value="67"/>
																	<xs:enumeration value="68"/>
																	<xs:enumeration value="69"/>
																	<xs:enumeration value="7"/>
																	<xs:enumeration value="70"/>
																	<xs:enumeration value="71"/>
																	<xs:enumeration value="72"/>
																	<xs:enumeration value="73"/>
																	<xs:enumeration value="74"/>
																	<xs:enumeration value="75"/>
																	<xs:enumeration value="76"/>
																	<xs:enumeration value="77"/>
																	<xs:enumeration value="78"/>
																	<xs:enumeration value="79"/>
																	<xs:enumeration value="8"/>
																	<xs:enumeration value="80"/>
																	<xs:enumeration value="81"/>
																	<xs:enumeration value="82"/>
																	<xs:enumeration value="83"/>
																	<xs:enumeration value="84"/>
																	<xs:enumeration value="85"/>
																	<xs:enumeration value="86"/>
																	<xs:enumeration value="87"/>
																	<xs:enumeration value="88"/>
																	<xs:enumeration value="89"/>
																	<xs:enumeration value="90"/>
																	<xs:enumeration value="91"/>
																	<xs:enumeration value="92"/>
																	<xs:enumeration value="93"/>
																	<xs:enumeration value="94"/>
																	<xs:enumeration value="95"/>
																	<xs:enumeration value="96"/>
																	<xs:enumeration value="97"/>
																	<xs:enumeration value="99"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="displayName" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="本人或户主"/>
																	<xs:enumeration value="本人"/>
																	<xs:enumeration value="户主"/>
																	<xs:enumeration value="配偶"/>
																	<xs:enumeration value="配偶"/>
																	<xs:enumeration value="夫"/>
																	<xs:enumeration value="妻"/>
																	<xs:enumeration value="子"/>
																	<xs:enumeration value="子"/>
																	<xs:enumeration value="独生子"/>
																	<xs:enumeration value="长子"/>
																	<xs:enumeration value="次子"/>
																	<xs:enumeration value="三子"/>
																	<xs:enumeration value="四子"/>
																	<xs:enumeration value="五子"/>
																	<xs:enumeration value="养子或继子"/>
																	<xs:enumeration value="女婿"/>
																	<xs:enumeration value="其他儿子"/>
																	<xs:enumeration value="女"/>
																	<xs:enumeration value="女"/>
																	<xs:enumeration value="独生女"/>
																	<xs:enumeration value="长女"/>
																	<xs:enumeration value="次女"/>
																	<xs:enumeration value="三女"/>
																	<xs:enumeration value="四女"/>
																	<xs:enumeration value="五女"/>
																	<xs:enumeration value="养女或继女"/>
																	<xs:enumeration value="儿媳"/>
																	<xs:enumeration value="其他女儿"/>
																	<xs:enumeration value="孙子、孙女、或外孙子、外孙女"/>
																	<xs:enumeration value="孙子、孙女或外孙子、外孙女"/>
																	<xs:enumeration value="孙子"/>
																	<xs:enumeration value="孙女"/>
																	<xs:enumeration value="外孙子"/>
																	<xs:enumeration value="外孙女"/>
																	<xs:enumeration value="孙媳妇或外孙媳妇"/>
																	<xs:enumeration value="孙女婿或外孙女婿"/>
																	<xs:enumeration value="曾孙子或外曾孙子"/>
																	<xs:enumeration value="曾孙女或外曾孙女"/>
																	<xs:enumeration value="其他孙子、孙女或外孙子、外孙女"/>
																	<xs:enumeration value="父母"/>
																	<xs:enumeration value="父母"/>
																	<xs:enumeration value="父亲"/>
																	<xs:enumeration value="母亲"/>
																	<xs:enumeration value="公公"/>
																	<xs:enumeration value="婆婆"/>
																	<xs:enumeration value="岳父"/>
																	<xs:enumeration value="岳母"/>
																	<xs:enumeration value="继父或养父"/>
																	<xs:enumeration value="继母或养母"/>
																	<xs:enumeration value="其他父母关系"/>
																	<xs:enumeration value="祖父母或外祖父母"/>
																	<xs:enumeration value="祖父母或外祖父母"/>
																	<xs:enumeration value="祖父"/>
																	<xs:enumeration value="祖母"/>
																	<xs:enumeration value="外祖父"/>
																	<xs:enumeration value="外祖母"/>
																	<xs:enumeration value="配偶的祖父母或外祖父母"/>
																	<xs:enumeration value="曾祖父"/>
																	<xs:enumeration value="曾祖母"/>
																	<xs:enumeration value="配偶的曾祖父母或外曾祖父母"/>
																	<xs:enumeration value="其他祖父母或外祖父母关系"/>
																	<xs:enumeration value="兄、弟、姐、妹"/>
																	<xs:enumeration value="兄弟姐妹"/>
																	<xs:enumeration value="兄"/>
																	<xs:enumeration value="嫂"/>
																	<xs:enumeration value="弟"/>
																	<xs:enumeration value="弟媳"/>
																	<xs:enumeration value="姐姐"/>
																	<xs:enumeration value="姐夫"/>
																	<xs:enumeration value="妹妹"/>
																	<xs:enumeration value="妹夫"/>
																	<xs:enumeration value="其他兄弟姐妹"/>
																	<xs:enumeration value="其他"/>
																	<xs:enumeration value="其他"/>
																	<xs:enumeration value="伯父"/>
																	<xs:enumeration value="伯母"/>
																	<xs:enumeration value="叔父"/>
																	<xs:enumeration value="婶母"/>
																	<xs:enumeration value="舅父"/>
																	<xs:enumeration value="舅母"/>
																	<xs:enumeration value="姨父"/>
																	<xs:enumeration value="姨母"/>
																	<xs:enumeration value="姑父"/>
																	<xs:enumeration value="姑母"/>
																	<xs:enumeration value="堂兄弟、堂姐妹"/>
																	<xs:enumeration value="表兄弟、表姐妹"/>
																	<xs:enumeration value="侄子"/>
																	<xs:enumeration value="侄女"/>
																	<xs:enumeration value="外甥"/>
																	<xs:enumeration value="外甥女"/>
																	<xs:enumeration value="其他亲属"/>
																	<xs:enumeration value="非亲属"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="codeSystem" type="xs:string" use="required"/>
														<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="custodian">
					<xs:annotation>
						<xs:documentation> 保管机构 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedCustodian">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="representedCustodianOrganization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="root" type="xs:string"/>
																	<xs:attribute name="extension" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value="18"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="legalAuthenticator">
					<xs:annotation>
						<xs:documentation> 科主任签名 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time" type="xs:string"/>
							<xs:element name="signatureCode" type="xs:string"/>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="code">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="displayName" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string"/>
												<xs:attribute name="determinerCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="authenticator" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> 主(副主)任医师签名  主治医师签名  住院医师签名  责任护士签名  进修医师签名  实习医师签名  编码员签名 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time" type="xs:string"/>
							<xs:element name="signatureCode" type="xs:string"/>
							<xs:element name="assignedEntity">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="root" type="xs:string" use="required"/>
														<xs:attribute name="extension" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="code">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="displayName" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="assignedPerson">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="classCode" type="xs:string" use="optional"/>
												<xs:attribute name="determinerCode" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="relatedDocument">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parentDocument">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string"/>
										<xs:element name="setId" type="xs:string"/>
										<xs:element name="versionNumber" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="componentOf">
					<xs:annotation>
						<xs:documentation>文档中医疗卫生事件的就诊场景,即入院场景记录</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="encompassingEncounter">
								<xs:annotation>
									<xs:documentation>就诊</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="effectiveTime">
											<xs:annotation>
												<xs:documentation>就诊时间</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="low">
														<xs:annotation>
															<xs:documentation>入院日期</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="classCode" type="xs:string"/>
									<xs:attribute name="moodCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="component">
					<xs:annotation>
						<xs:documentation>***************************************************
文档体Body
*******************************************************
</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="structuredBody">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="component" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>主诉章节主要健康问题章节  
********************************************************
入院诊断章节
********************************************************
治疗计划章节住院过程章节</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="code" type="xs:string" use="optional"/>
																				<xs:attribute name="displayName" type="xs:string" use="required"/>
																				<xs:attribute name="codeSystem" type="xs:string" use="optional"/>
																				<xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="text" type="xs:string"/>
																<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>主诉条目陈述内容可靠标志中医“四诊”观察结果入院诊断-西医条目入院诊断-中医条目治则治法条目入院情况条目诊疗过程描述条目死亡日期时间条目死亡原因条目死亡诊断-西医条目死亡诊断-中医条目</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="observation">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="code">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="code" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																										<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																										<xs:attribute name="displayName" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value" minOccurs="0"/>
																						<xs:element name="effectiveTime" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="high">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute name="value">
																														<xs:simpleType>
																															<xs:restriction base="xs:string">
																																<xs:pattern value="((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
																															</xs:restriction>
																														</xs:simpleType>
																													</xs:attribute>
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="entryRelationship" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="observation">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="code">
																													<xs:annotation>
																														<xs:documentation>入院诊断-西医诊断编码-代码入院诊断-中医诊断编码-代码入院诊断-中医证候编码-名称入院诊断-中医证候编码-代码死亡诊断-西医诊断编码-代码死亡诊断-中医诊断编码-代码死亡诊断-中医证候编码-名称死亡诊断-中医证候编码-代码</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute name="code" type="xs:string" use="required"/>
																																<xs:attribute name="codeSystem" type="xs:string" use="required"/>
																																<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
																																<xs:attribute name="displayName" type="xs:string" use="required"/>
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="value"/>
																											</xs:sequence>
																											<xs:attribute name="classCode" type="xs:string" use="optional"/>
																											<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="typeCode" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="classCode" type="xs:string" use="optional"/>
																					<xs:attribute name="moodCode" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="BL">
		<xs:attribute name="value" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="CD">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:string" use="required"/>
				<xs:attribute name="codeSystem" type="xs:string" use="required"/>
				<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
				<xs:attribute name="displayName" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
